<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/member/layout}">
<head>
<meta charset="UTF-8">
<title>내강의실</title>
<link rel="stylesheet" href="/css/member/content.css" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<section layout:fragment="content">
	<div class="row lecture_info">
		<div class="col-lg-12">
			<div class="section-title">
			    <h2>내강의실</h2>
			    <!-- <button class="print">수료증 발급</button> -->
			</div>
		</div>
		<div class="info lt_info">
			<h3>수강 중인 강의</h3>
			<a th:href="@{/member/tlsn/list}" class="go_link">전체보기 ></a>
			<ul>
				<li th:if="${session.username == null}">
					<span>로그인이 필요합니다</span>
				</li>
				<li th:each="tlsn, stat: ${tlsnList}">
					<div class="box">
						<div class="top">
							<div class="left">
								<i th:text="${tlsn.ltCateCd}">프로그래밍언어</i>
								<p th:text="${tlsn.ltTtl}">프로그래밍언어 이해하기</p>
								<span><i th:text="${tlsn.name}"></i> 강사님</span>
							</div>
							<!-- <div class="graph">
								<span>그래프</span>
							</div> -->
						</div>
						<div class="bottom">
							<a th:href="@{/member/tlsn/detailList/{no}(no=${tlsn.ltNum})}"><i class="menu-icon tf-icons bx bx-play-circle"></i> 강의실 바로가기</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="row myclass_list">
		<ul>
			<li>
				<div>
					<h3>쪽지시험</h3>
					<a th:href="@{/member/test/list}" class="go_link">전체보기 ></a>
					<ul>
						<li th:if="${session.username == null}">
							<span>로그인이 필요합니다</span>
						</li>
						<li th:each="tlsn, stat: ${tlsnList}">
							<a href="#"><i class='bx bx-edit'></i>
								<span th:text="${tlsn.ltTtl}"></span>
								<em><i th:text="${tlsn.name}"></i> 강사님</em>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div>
					<h3>오답노트</h3>
					<a href="#" class="go_link">전체보기 ></a>
					<ul>
						<li th:if="${session.username == null}">
							<span>로그인이 필요합니다</span>
						</li>
						<li th:if="${tlsn.examYn != null}" th:each="tlsn, stat: ${tlsnList}">
							<a th:href="@{/member/test/ox/{ltNum}(ltNum=${tlsn.ltNum})}"><i class='bx bx-file'></i>
								<span th:text="${tlsn.ltTtl}"></span>
								<em><i th:text="${tlsn.name}"></i> 강사님</em>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<div>
					<h3>학습통계</h3>
					<a href="#" class="go_link">전체보기 ></a>
					
					<div class="graph">
						<div th:if="${session.username == null}" class="mt-4">
							<span>로그인이 필요합니다</span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	
	<div class="row lecture_calendar">
		<h3 class="related-title">학습캘린더 <span>2024년 4월 5째주</span></h3>
		<a th:href="@{/member/schedule/list}" class="go_link">전체보기 ></a>
		<div class="list">
			<ul>
				<li>
					<p><i class='bx bx-calendar-alt' ></i> 04.28</p>
					<span>프로그래밍언어 공부하기</span>
				</li>
				<li>
					<p><i class='bx bx-calendar-alt' ></i> 04.29</p>
					<span>프로그래밍언어 공부하기</span>
					<span>프로그래밍언어 공부하기</span>
				</li>
				<li>
					<p><i class='bx bx-calendar-alt' ></i> 04.30</p>
					<span>프로그래밍언어 공부하기</span>
				</li>
				<li>
					<p><i class='bx bx-calendar-alt' ></i> 05.01</p>
					<span>프로그래밍언어 공부하기</span>
				</li>
				<li>
					<p><i class='bx bx-calendar-alt' ></i> 05.02</p>
					<span>프로그래밍언어 공부하기</span>
				</li>
				<li>
					<p><i class='bx bx-calendar-alt' ></i> 05.03</p>
					<span>프로그래밍언어 공부하기</span>
				</li>
				<li>
					<p><i class='bx bx-calendar-alt' ></i> 05.04</p>
					<span>프로그래밍언어 공부하기</span>
				</li>
			</ul>
		</div>
	</div>
</section>
</body>
</html>