<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta charset="UTF-8">
<!-- CSRF -->
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />

<link rel="stylesheet" href="/css/member/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="/css/member/nice-select.css"
	type="text/css">
<link rel="stylesheet" href="/css/member/style.css" type="text/css">

<link rel="stylesheet" href="/css/member/slicknav.min.css"
	type="text/css">
<title>회원가입</title>
<style>
.container {
	margin: 0 auto;
}

.logo {
	width: 300px;
}

.naverbtn {
	width: 200px;
}
</style>

</head>

<body>
	<div class="container">
		<div class="checkout__form">
			<img class="logo" src="img/common/logo_w.png" />
			<h6 class="checkout__title">회원가입</h6>
			<div class="checkout">
				<input type="radio" name="type" onchange="usertypeForm(1)" checked />
				일반회원 <input type="radio" name="type" onchange="usertypeForm(2)" />
				강사
			</div>
			<div class="checkout__input col-lg-4">
				<p>
					아이디 <span>*</span>
				</p>
				<input type="text" id="id" name="id"
					placeholder="4~20자의 영문 대소문자, 숫자" onblur="idChk()">
				<div class="idchk"></div>
				<p>
					비밀번호 <span>*</span>
				</p>
				<input type="password" id="pw" name="pw"
					placeholder="8~16자의 영문 대소문자, 숫자" onblur="pwCheck()">
				<div class="pwchkstr"></div>
				<p>
					비밀번호 확인 <span>*</span>
				</p>
				<input type="password" id="pwchk" name="pwchk" onblur="pwCheck()">
				<div class="pwchkchkstr"></div>
				<p>
					이메일 <span>*</span>
				</p>
				<input type="text" id="email" name="email" onblur="mailCheck()">
				<div class="mailchkstr"></div>
				<p>
					휴대전화번호 <span>*</span>
				</p>
				<input type="tel" id="phone" name="phone" placeholder="'-'제외하고 입력"
					onblur="phoneCheck()">
				<button type="button" class="site-btn" id="sendsms"
					onclick="sendSMS(phone.value)">인증</button>
				<div class="phonechkstr"></div>
				<div class="smschk">
					<!-- 인증번호 입력란 -->
				</div>
				<p>이름(닉네임)</p>
				<input type="text" id="nick" name="nick">
			</div>
			<div class="checkout__input col-lg-4">
				<p>주소</p>
			</div>
			<div class="checkout__input col-lg-2">
				<input type="text" id="sample6_postcode" placeholder="우편번호" readonly>
				<button type="button" class="site-btn"
					onclick="sample6_execDaumPostcode()">우편번호 찾기</button>
			</div>
			<div class="checkout__input col-lg-4">
				<input type="text" id="sample6_address" name="addr" readonly>
			</div>
			<div class="checkout__input col-lg-6">
				<p>상세주소</p>
				<input type="text" id="sample6_detailAddress" name="detailaddr">
			</div>
			<div class="col-lg-4 radios">
				<!-- 회원, 강사 폼 바뀌는 부분 -->
			</div>
			<div class="col-lg-6 accrule">
				<input type="checkbox" id="chk_all">
				<h6>전체 약관 동의</h6>
				<input type="checkbox" class="chk svc">
				<p>[필수]Iting 이용 약관에 동의</p>
				<button type="button">></button>
				<input type="checkbox" class="chk svc">
				<p>[필수]개인정보 수집 및 이용에 동의</p>
				<button type="button">></button>
				<input type="checkbox" class="chk">
				<p>[선택]마케팅 정보 수신</p>
				<button type="button">></button>
			</div>
			<div class="accbtn">
				<button type="button" class="site-btn" style="width: 300px"
					onclick="chkAccount()">가입하기</button>
			</div>
		</div>
		<div class="col-lg-6 naverIdLogin">
			<a id="naverIdLogin_loginButton" href="#" role="button"><img
				class="naverbtn" src="img/common/btnG_완성형.png" alt="NaverLoginImg" /></a>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="/js/common.js"></script>
	<script src="/js/join/account.js"></script>
	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<!-- 다음 주소 api -->
	<script>
		// 다음 주소 api 코드
		function sample6_execDaumPostcode() {
			new daum.Postcode(
					{
						oncomplete : function(data) {
							// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

							// 각 주소의 노출 규칙에 따라 주소를 조합한다.
							// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
							var addr = ''; // 주소 변수
							//var extraAddr = ''; // 참고항목 변수

							//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
							if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
								addr = data.roadAddress;
							} else { // 사용자가 지번 주소를 선택했을 경우(J)
								addr = data.jibunAddress;
							}

							// 우편번호와 주소 정보를 해당 필드에 넣는다.
							document.getElementById('sample6_postcode').value = data.zonecode;
							document.getElementById("sample6_address").value = addr;
							// 커서를 상세주소 필드로 이동한다.
							document.getElementById("sample6_detailAddress")
									.focus();
						}
					}).open();
		}
		
		// SMS전송요청
		async function sendSMS(phonenum){
			if(phoneAccep){
				let numkey = '';
				for(i=0; i<4; i++){
					numkey += Math.floor(Math.random() * 10);
				}
				let param = {phonenum, numkey};
			await csrf_axios({
				method: 'post',
				url: '/sendsms',
				data: param,
				})
				.then(res => console.log("문자 전송"));
				document.getElementsByClassName('smschk')[0].innerHTML =
				`
						<input type="text" id="sms" name="sms" placeholder="인증번호 4자리 입력">
						<button type="button" class="site-btn" onclick="smschk('`+numkey+`')">인증확인</button>`;
			} else {
				alert("휴대전화번호가 올바르지 않습니다")
				return;
			}
		}
		function smschk(num){
			let smschkresult;
			if(phoneAccep && num == sms.value){
				smschkresult = `<p>인증이 완료되었습니다</p>`;
			document.getElementsByClassName('smschk')[0].innerHTML = '';
			sendsms.disabled = true;
				SMSAccep = true;
				phone.readOnly = true;
			} else {
				smschkresult = `<p>인증 실패</p>`;
			}
			document.getElementsByClassName('phonechkstr')[0].innerHTML = smschkresult;
		}
	</script>
</body>
</html>