<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iting.test.mapper.TestMapper">
	<select id="getTestList" resultType="TestVO">
		SELECT PRBL_NUM
               , PRBL_CNTN
               , QUES1
               , QUES2
               , QUES3
               , QUES4
               , ANS
               , CTY
               , LT_NUM
		FROM PRBL
	</select>
</mapper>