<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iting.test.mapper.TestMapper">
	<!-- 전체조회 -->
	<select id="getTestList" resultType="TestVO">
		SELECT PRBL_NUM
               , PRBL_CNTN
               , QUES1
               , QUES2
               , QUES3
               , QUES4
               , ANS
               , CTY
               , LT_NUM
		FROM PRBL
	</select>
	
	<!-- 등록 -->
	<insert id="insertTest" parameterType="TestVO">	
		<selectKey keyProperty="subspNum"
					order="BEFORE"
					resultType="string">
			SELECT 'pr' || LPAD(NVL(MAX(SUBSTR(PRBL_NUM, -3)), 0) + 1, 5, '0') AS PRBL_NUM 
			FROM PRBL
		</selectKey>
		INSERT INTO PRBL(PRBL_NUM
		                 , PRBL_CNTN
		                 , QUES1
		                 , QUES2
		                 , QUES3
		                 , QUES4
		                 , ANS
		                 , CTY)
		VALUES ( 
				  #{prblNum}
				, #{prblCntn}
				, #{ques1}
				, #{ques2}
			    , #{ques3}
				, #{ques4}
				, #{ans}
				, #{cty}
				)
	</insert>
</mapper>