<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iting.lecture.mapper.LectureMapper">

	<!-- 수강상세 -->
	<select id="getLectureInfo" resultType="LectureVO">
		SELECT LT_NUM
		       , LT_ST_CD
		       , LT_TTL
		       , LT_IMG
		       , LT_INTRO
		       , LT_CATE_CD
		       , FR_DT
		       , LT_DIF_CD
		       , LECTURER_NUM
		       , LT_KEYWORD_CD
		       , LT_FG_CD
		FROM LT
		WHERE LT_NUM = #{ltNum}
	</select>
	<!-- 강의 목록 -->
	<select id="getLectureList" resultType="LectureVO">
		SELECT LT_NUM
		       , LT_ST_CD
		       , LT_TTL
		       , LT_IMG
		       , LT_INTRO
		       , LT_CATE_CD
		       , FR_DT
		       , LT_DIF_CD
		       , LECTURER_NUM
		       , LT_KEYWORD_CD
		       , LT_FG_CD
		FROM LT
	
	</select>
	<!-- 강의 상세 -->
	<select id="getLectureInfo1" resultType="LectureVO">
		SELECT LT_NUM
		       , LT_ST_CD
		       , LT_TTL
		       , LT_IMG
		       , LT_INTRO
		       , LT_CATE_CD
		       , FR_DT
		       , LT_DIF_CD
		       , LECTURER_NUM
		       , LT_KEYWORD_CD
		       , LT_FG_CD
		FROM LT
		WHERE LT_NUM = #{ltNum}
		</select>
	
	<!-- 강사 + 강의 단건조회 -->
	<select id="getTcList" resultType="LectureVO">
		SELECT l.LT_NUM
        ,l.LT_ST_CD
        ,l.LT_TTL
        ,l.LT_IMG
        ,l.LT_INTRO
        ,l.LT_CATE_CD
        ,l.FR_DT
        ,l.ACCP_YN_CD
        ,l.LT_DIF_CD
        ,l.LECTURER_NUM
        ,l.LT_KEYWORD_CD
        ,l.RDM_CATE_CD
        ,l.LT_FG_CD
FROM LT l JOIN LECTURER le
        ON l.LECTURER_NUM = le.LECTURER_NUM
WHERE le.LECTURER_NUM = #{lecturerNum}
	</select>

</mapper>
