<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iting.member.mapper.MemberMapper">
	<select id="getMemberList">
		SELECT *
		FROM MEM
	</select>
	
	<select id="getMemberLtsn">
		SELECT m.MEM_NUM
			   , m.ID
		       , m.NAME
		       , m.ADDR
		       , m.DETAIL_ADDR
		       , m.MAIL
		       , m.PHONE
		       , t.TLSN_NUM
		       , t.LT_NUM
		FROM MEM m JOIN TLSN t
		            ON m.MEM_NUM = t.MEM_NUM
		WHERE m.MEM_NUM LIKE 'me%'
		AND t.LT_NUM LIKE 'lt00014'
		AND t.TLSN_ST_CD LIKE 'j2'
	</select>
</mapper>