<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/blank}">
<meta charset="UTF-8">
<section layout:fragment="content">
	<script th:inline="javascript">
		function gopage(p) {
			frmSearch.page.value = p;
			frmSearch.submit();
		}
		function init() {
			frmSearch.ttl.value = "";
			frmSearch.name.value = "";
		}
	</script>
	<h3 class="related-title">review</h3>
	<br>
	<!-- 검색 폼 시작 -->
	<form name="frmSearch" th:object="${reviewVO}"
		style="display: inline-block;">
		<input type="hidden" name="page"> 제목 <input name="ttl"
			th:value="*{ttl}"> 작성자 <input name="name" th:value="*{name}">
		<a href="#" onclick="gopage(1)" class="search-switch"> <img
			src="/img/member/main/search.png" alt="searchBtn"></a> <a href="#"
			onclick="init()" class="search-switch"> <img
			src="/img/member/main/resetBtn.png" alt="searchBtn"></a>
	</form>
	<!-- 검색 폼 끝 -->
	<div>
		<br> <br>
		<div>
			<!-- 등록 버튼 기능 X (함수도 없음) -->
			<button class="cnq_insertBtn" type="button" id="insertBtn">등록</button>
		</div>
		<br>
		<div>
			<button>최신순</button>
			<button>별점순</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>제목</th>
					<th>내용</th>
					<th>날짜</th>
					<th>별점</th>
					<th>작성자</th>
				</tr>
			<tbody>

				<tr th:each="review, stat: ${reviewList}">
					<td th:text="${review.ttl}"></td>
					<td th:text="${review.cntn}"></td>
					<td th:text="${#dates.format(review.drwupDt,'yyyy/MM/dd')}"></td>
					<td th:text="${review.star}"></td>
					<td th:text="${review.name}"></td>
				</tr>
			</tbody>
		</table>
		<!-- 페이징 시작 -->
		<!-- disabled : 비활성화 -->
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item" th:if="${paging.startPage} > 1"><a
					class="page-link"
					th:href="|javascript:gopage(${paging.startPage-1})|">Previous</a></li>

				<li
					th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}"
					class="page-item" th:addclass="${num} == ${paging.page} ? active">
					<a class="page-link" th:href="|javascript:gopage(${num})|"
					th:text="${num}">2</a>
				</li>

				<li class="page-item"
					th:classappend="${paging.endPage} >= ${paging.lastPage} ? disabled">
					<a class="page-link"
					th:href="|javascript:gopage(${paging.endPage+1})|">Next</a>
				</li>
			</ul>
		</nav>
		<!-- 페이징 종료 -->
	</div>
</section>
</html>