<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iting.common.mapper.UsersMapper">
	<select id="getUserInfo" parameterType="string"
		resultType="UsersVO">
		select m.mem_num AS num_cd
            ,m.id
            ,'{noop}' || m.pw AS pw
            ,'ROLE_' || upper(m.mem_fg_cd) AS user_cd
        from mem m
        where id = #{userid}
        UNION
        select l.lecturer_num AS num_cd
            ,l.id
            ,'{noop}' || l.pw AS pw
            ,'ROLE_' || upper(l.accp_yn_cd) AS user_cd
        from lecturer l
        where id = #{userid}
	</select>
	<insert id="insertUser" parameterType="AccountVO">
		<selectKey keyProperty="accnum"
				order="BEFORE"
				resultType="string">
			<if test='actype == "b1"'>
				SELECT 'me' || LPAD(NVL(MAX(SUBSTR(mem_num, -5)), 0) + 1, 5, '0') AS mem_num
				FROM mem
			</if>
			<if test='actype == "d2"'>
				SELECT 'le' || LPAD(NVL(MAX(SUBSTR(lecturer_num, -5)), 0) + 1, 5, '0') AS lecturer_num
				FROM lecturer
			</if>
		</selectKey>
		insert into 
		<if test='actype == "b1"'>
		mem
		(
		mem_num
		, mem_fg_cd
		, int_cd
		</if>
		<if test='actype == "d2"'>
		lecturer
		(
		lecturer_num
		, accp_yn_cd
		, atch_num
		</if>
		, id
		, pw
		, name
		, addr
		, detail_addr
		, mail
		, phone
		, join_dt
		, login_typ_cd
		, token
		)
		values(
				#{accnum}
				, #{actype}
				, #{intorfile}
				, #{idv}
				, #{pwv}
				, #{nickv}
				, #{addrv}
				, #{dadrv}
				, #{mailv}
				, #{phonev}
				, sysdate
				, #{logCd}
				, #{token}
				)
	</insert>
	<select id="getUserNum" resultType="string">
		SELECT 'me' || LPAD(NVL(MAX(SUBSTR(mem_num, -5)), 0) + 1, 5, '0') AS mem_num FROM mem
	</select>
</mapper>