<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iting.common.mapper.UsersMapper">

	<select id="getMemberInfo" parameterType="string"
		resultType="MemberVO">
		select id
		,'{noop}' || pw AS pw
		,'ROLE_' || upper(mem_fg_cd) AS "mem_fg_cd"
		from mem
		where id = #{userid}
	</select>

	<select id="getTeacherInfo" parameterType="string"
		resultType="TeacherVO">
		select id
		,'{noop}' || pw AS pw
		,'ROLE_' || upper(accp_yn_cd) AS "accp_yn_cd"
		from lecturer
		where id = #{userid}
	</select>
</mapper>