<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/member/layout}">
<head>
<meta charset="UTF-8">
<title>강의질문 등록</title>
<link rel="stylesheet" href="/css/member/content.css" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<section layout:fragment="content">
<div class="row lecture_info">
		<div class="col-lg-12">
			<div class="section-title message_box">
			   <h2>답장하기</h2>
			</div>
		</div>
	</div>
	<div class="test_insert">
     <form id="formAccountSettings" method="POST" name="noteForm" onsubmit="return false">
       <div class="mT20">
         <div>
           <input th:value="${session.usernum}" class="form-control hidden" type="text" id="usernum" name="usernum">
           <input th:value="${lecturerNum}" class="form-control hidden" type="text" id="lecturerNum" name="lecturerNum">
           <input class="form-control" type="text" id="noteTtl" name="noteTtl" value="" placeholder="제목을 입력하세요.">
         </div>
         <hr class="my-0">
         <div class="mb-3 test_list first_list">
           <textarea id="noteCntn" name="noteCntn" rows="10" placeholder="내용을 입력하세요."></textarea>
         </div>
         </div>
    	</form>
    	<div class="btn_box demo-inline-spacing mT0">
           <button type="button" id="saveBtn" class="btn btn-lg btn btn-warning">보내기</button>
           <button type="button" id="listBtn" class="btn btn-lg ml-1 btn btn btn-secondary" onclick="goBack();">목록가기</button>
         </div>
       </div>
  
  <script>
  
	function saveReq() {
		const noteTtl = noteForm.noteTtl.value;
		const noteCntn = noteForm.noteCntn.value;
		const sentPs = noteForm.usernum.value;
		const recPs = noteForm.lecturerNum.value;
		let param = {noteTtl, noteCntn, sentPs, recPs}
		console.log(param);
		
		/*
		axios.post("/member/subsp/insert", param)
			.then(res => saveRes(res.data))
		*/
		
		csrf_axios({
				method: 'POST',
				url: '/member/note/insert',
				data: JSON.stringify(param)
			
				})
				.then(res => saveRes(res.data))
	}
	
	// 등록 응답
	function saveRes(res) {
		console.log(res);
		alert('메세지가 전송되었습니다.');
		window.location.href = "/member/note/list";
	}
	
	//버튼 클릭 시 함수 호출.
	saveBtn.addEventListener("click", e => {
		saveReq();
	})
	
	function goBack() {
		window.history.back();
	}
	
	
</script>
</section>

</body>
</html>