<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/member/layout}">
<head>
<meta charset="UTF-8">
<title>강의질문</title>
<link rel="stylesheet" href="/css/member/content.css" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<section layout:fragment="content">
	<div class="row lecture_info">
		<div class="col-lg-12">
			<div class="section-title message_box">
			    <h2>강의질문 <em> / </em> <i th:text="${tc.ltTtl}"></i></h2>
			</div>
		</div>
	</div>
	
	<div class="message_list">
         <div class="product__details__tab">
             <ul class="nav nav-tabs" role="tablist">
                 <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab" th:classappend="${param.gb} == null ? 'active':_">쪽지보내기</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab" th:classappend="${#strings.equals(param.gb , 'rec')} ? 'active':_">받은쪽지함</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab" th:classappend="${#strings.equals(param.gb , 'sent')}? 'active':_">보낸쪽지함</a>
                 </li>
             </ul>
             <div class="tab-content">
                 <div class="tab-pane" th:classappend="${param.gb} == null ? 'active':_" id="tabs-5" role="tabpanel">
                      <div class="product__details__tab__content">
                      <table class="table taC">
		            	<thead>
		            		<tr>
		            			<th>강의명</th>
		            			<th>강사아이디</th>
		            			<th>강사명</th>
		            			<th>이메일</th>
		            			<th>쪽지보내기</th>
		            		</tr>
		            	</thead>
		            	<tbody>
			            	<tr>
				            	<td th:text="${tc.lecturerNum}" class="hidden"></td>
				            	<td th:text="${tc.ltNum}" class="hidden"></td>
				            	<td th:text="${tc.ltTtl}"></td>
				            	<td th:text="${tc.id}"></td>
				            	<td><span th:text="${tc.name}"></span><i>강사님</i></td>
				            	<td th:text="${tc.mail}"></td>
				            	<td><a class="btn btn-outline-warning btn-sm" th:href="@{/member/note/insert/{no}(no=${tc.ltNum})}">보내기</a></td>
			            	</tr>
		            	</tbody>
		            </table>
		           </div>
                 </div>
                 <div class="tab-pane tab_mem" id="tabs-6" th:classappend="${#strings.equals(param.gb , 'rec')} ? 'active':_" role="tabpanel">
                     <div class="product__details__tab__content">
                         <ul>
                         	<li th:each="rec, stat: ${recList}" th:onclick="link('rec',[[${rec.noteNum}]])">
			            		<a href="#" th:text="${rec.noteTtl}" class="new"></a>
			            		<span th:text="${rec.id}"></span>
			            		<span><em th:text="${rec.name}"></em><i>강사님</i></span>
			            		<i th:text="${#dates.format(rec.recDt, 'yyyy-MM-dd')}"></i>
			            	</li>
                         </ul>
                     </div>
                 </div>
                 <div class="tab-pane tab_mem" id="tabs-7" th:classappend="${#strings.equals(param.gb , 'sent')} ? 'active':_"  role="tabpanel">
                     <div class="product__details__tab__content">
                    
                        <ul>
                         	<li th:each="sent, stat: ${sentList}" th:onclick="link('sent',[[${sent.noteNum}]])">
			            		<a href="#" th:text="${sent.noteTtl}" class="new"></a>
			            		<span th:text="${sent.id}"></span>
			            		<span><em th:text="${sent.name}"></em><i>강사님</i></span>
			            		<i th:text="${#dates.format(sent.sentDt, 'yyyy-MM-dd')}"></i>
			            	</li>
                         </ul>
                     </div>
                 </div>
             </div>
      </div>
  </div>
	<div class="btn_box">
		<a th:href="@{/member/tlsn/detailList/{no}(no=${ltNum})}" class="go_list">목록가기</a> <!-- {ltNum}(ltNum=${tlsn.ltNum}) -->
	</div>
<script th:inline="javascript">
function link(gb, noteNum){
	location.href=`/member/note/info/${noteNum}/${gb}`
}
function tab_select() {
	const gb = [[${param.gb}]]
	if(gb != null){
		if(gb[0] == 'sent'){
			$('[id="tabs-6"]').tab('show')
		} else if(gb[0] == 'rec'){
			$('[id="tabs-7"]').tab('show')
		}
	}
}
//window.setTimeout(tab_select, 100);

</script>
</section>

</body>
</html>