<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iting.tlsn.mapper.TlsnMapper">
	<!-- 전체수강목록 -->
	<select id="getTlsnList">
		SELECT t.TLSN_NUM
		       , t.TLSN_ST_CD
		       , t.MEM_NUM
		       , t.LT_NUM
		       , t.CETE_YN_CD
		       , t.APPL_DT
		       , r.NAME
		       , find_code(LT_CATE_CD) LT_CATE_CD
		       , l.LT_TTL
		       , (SELECT LT_NUM FROM APPLEXAM e WHERE e.MEM_NUM = t.MEM_NUM AND e.LT_NUM = t.LT_NUM) AS EXAM_YN
		FROM TLSN t JOIN LT l
	             ON t.LT_NUM = l.LT_NUM
	           JOIN LECTURER r  
	             ON l.LECTURER_NUM = r.LECTURER_NUM
		WHERE t.MEM_NUM = #{user}
		ORDER BY t.APPL_DT DESC
	</select>
	
	<select id="getTlsnInfo" parameterType="TlsnVO" resultType="TlsnVO">
		SELECT l.LT_NUM
		, l.LT_TTL
		, l.LECTURER_NUM
        , e.NAME
		FROM LT l JOIN LECTURER e
                    ON l.LECTURER_NUM = e.LECTURER_NUM
		WHERE l.LT_NUM = #{ltNum}
	</select>
	
	<insert id="tlsnInsert" parameterType="TlsnVO">
		<selectKey keyProperty="tlsnNum"
					order="BEFORE"
					resultType="string">
			SELECT 'tl' || LPAD(NVL(MAX(SUBSTR(tlsn_num, -5)), 0) + 1, 5, '0') 
			FROM tlsn
		</selectKey>
		INSERT INTO tlsn (
						  tlsn_num
						, tlsn_st_cd
						, mem_num
						, lt_num
						, cete_yn_cd
						, appl_dt
                  		 )
		VALUES (
		          #{tlsnNum}
		        , #{tlsnStCd}
		        , #{memNum}
		        , #{ltNum}
		        , #{ceteYnCd}
		        , SYSDATE
		        )
	</insert>
	
	<!-- 수강 단건조회 -->
	<select id="getTlsnInfoMem" parameterType="TlsnVO">
		SELECT tlsn_num
		        , tlsn_st_cd
		        , mem_num
		        , lt_num
		        , cete_yn_cd
		        , appl_dt
		FROM tlsn
		WHERE mem_num = #{memNum}
		AND lt_num = #{ltNum}
	</select>
	
	
	<!-- 수강상세 등록 -->
	<insert id="tlsnDetailInsert">
		<selectKey keyProperty="tlsnRndNum" order="BEFORE" resultType="string">
			SELECT 'td' || LPAD(NVL(MAX(SUBSTR(tlsn_rnd_num, -5)), 0) + 1, 5, '0') 
			FROM tlsn_detail
		</selectKey>
		
		INSERT INTO tlsn_detail
				(
				tlsn_rnd_num
				, rnd_ttl
				, rnd_prgre
				, lt_num
				, tlsn_num
				)
		VALUES
			(
			#{tlsnRndNum}
			, #{rndTtl}
			, #{rndPrgre}
			, #{ltNum}
			, #{tlsnNum}
			)
		
	</insert>
</mapper>