<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin/layout}">
<head>
<meta charset="UTF-8">
<title>강의승인 페이지</title>
<script th:inline="javascript">
function move(ltNum){
	location.href='/lecture/info1/'+ ltNum
}

let endLectureList = [[${endLectureList}]]

function gopage(p){
	frmSearch.page.value = p;
	frmSearch.submit();
}
function init(){
	frmSearch.rndTtl.value = "";
	frmSearch.rndCntn.value = "";
}
function move(ltNum{
	location.href='/lecture/info1/'+ ltNum
}		




</script>
<style>
#asd {
	float: right;
	padding: 12px 40px;
	font-size: 16px;
	border: 0;
	letter-spacing: -1px;
	background: #ff8a00;
	color: #fff;
	border-radius: 5px;
}
</style>
</head>
<body>
	<div id="container" layout:fragment="container">
		<div class="card">
			<h4 class="card-header">
				승인 목록
			</h4>
			<p>검색</p>
			<div class="table-responsive text-nowrap">
				<table class="table">
					<thead>
						<tr>
							<th>강의번호</th>
							<th>강의제목</th>
							<th>강의소개</th>
							<th>시작날짜</th>
							<th>강의난이도</th>
							<th>강의키워드</th>
							<th>강사번호</th>
							<th>승인여부</th>
							<th>승인</th>

						</tr>


					</thead>
					<tbody>
						<tr th:each="endq, stat: ${endLectureList}"
							th:onclick="move([[${endq.ltNum}]])">
							<td th:text="${endq.ltNum}"></td>
							<td th:text="${endq.ltTtl}"></td>
							<td th:text="${endq.ltIntro}"></td>
							<td th:text="${#dates.format(endq.frDt,'yyyy-MM-dd')}"></td>
							<td th:text="${endq.ltDifCd}"></td>
							<td th:text="${endq.ltKeywordCd}"></td>
							<td th:text="${endq.lecturerNum}"></td>
							<td th:text="${endq.accpYnCd}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>