<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin/layout}">
<head>
<!-- layout:decorate="~{layout/admin}" -->
<meta charset="UTF-8">
<title>강의질문 페이지</title>
<link rel="stylesheet" href="/css/teacher/content.css" />
</head>
<body>
	<div id="container" layout:fragment="container">
		<h4 class="fw-bold py-3 mb-4">강의신청목록</h4>
		<div class="nav-align-top mb-4">
			<ul class="nav nav-pills mb-3" role="tablist">
				<li class="nav-item">
					<button type="button" class="nav-link active" role="tab"
						data-bs-toggle="tab" data-bs-target="#navs-pills-top-home"
						aria-controls="navs-pills-top-home" aria-selected="true">
						대기중인 강의</button>
				</li>
				<li class="nav-item">
					<button type="button" class="nav-link" role="tab"
						data-bs-toggle="tab" data-bs-target="#navs-pills-top-profile"
						aria-controls="navs-pills-top-profile" aria-selected="false">
						완료된 강의</button>
				</li>
			</ul>
			<div class="tab-content test_content">
				<div class="table-responsive text-nowrap">
					<table class="table">
						<thead>
							<tr>
								<th>강의번호</th>
								<th>강의제목</th>
								<th>강의소개</th>
								<th>신청날짜</th>
								<th>강의난이도</th>
								<th>강의키워드</th>
								<th>강사번호</th>
								<th></th>
								
								
							</tr>
						</thead>
						<tbody id="lectureList">
							<tr th:each="ltb, stat: ${list}"
								th:onclick="move([[${ltb.ltNum}]])">
								<td th:text="${ltb.ltNum}"></td>
								<td th:text="${ltb.ltTtl}"></td>
								<td th:text="${ltb.ltIntro}"></td>
								<td th:text="${#dates.format(ltb.frDt,'yyyy-MM-dd')}"></td>
								<td th:text="${ltb.ltDifCd}"></td>
								<td th:text="${ltb.ltKeywordCd}"></td>
								<td th:text="${ltb.lecturerNum}"></td>
								<td>
								<button type="button" id="saveBtn">등록하기</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<script>



</script>
</body>
</html>
