<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
<!-- CSRF -->
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
	<!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />
    
	<!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"/>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
      
    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
     -->
	<!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/css/admin/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/css/admin/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/css/admin/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/css/admin/demo.css" />
	<link rel="stylesheet" href="/css/admin/main.css" />
	
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/css/admin/perfect-scrollbar.css" />

    <!-- Page CSS -->
	<link rel="stylesheet" href="/css/admin/page-auth.css" />
    
    <!-- Helpers -->
    <script src="/js/admin/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/js/admin/config.js"></script>
    
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <!-- Common JS -->
<script src="/js/common.js"></script>
<title>Insert title here</title>
</head>
<body>
 	<!-- <div class="container-xxl"> -->
    	<div class="authentication-wrapper authentication-basic container-p-y">
          <!-- Register -->
          <div class="card">
            <div class="card-body" layout:fragment="cont">
             <!-- 로그인, 회원가입 표시될 곳 -->
            </div>
          </div>
          <!-- /Register -->
    	</div>
    <!-- </div> -->
<!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/js/admin/jquery.js"></script>
    <script src="/js/admin/popper.js"></script>
    <script src="/js/admin/bootstrap.js"></script>
    <script src="/js/admin/perfect-scrollbar.js"></script>

    <script src="/js/admin/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="/js/admin/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    
</body>
</html>