<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSRF -->
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/member/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/member/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/member/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/member/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/member/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/member/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/member/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/member/style.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/boxicons.css" />
    <link rel="stylesheet" href="/css/member/main.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/boxicons.css" />
	<link rel="stylesheet" href="/css/member/content.css" />
    <!-- Js Plugins -->
    <script src="/js/member/jquery-3.3.1.min.js"></script>
    <script src="/js/member/bootstrap.min.js"></script>
    <script src="/js/member/jquery.nice-select.min.js"></script>
    <script src="/js/member/jquery.nicescroll.min.js"></script>
    <script src="/js/member/jquery.magnific-popup.min.js"></script>
    <script src="/js/member/jquery.countdown.min.js"></script>
    <script src="/js/member/jquery.slicknav.js"></script>
    <script src="/js/member/mixitup.min.js"></script>
    <script src="/js/member/owl.carousel.min.js"></script>

	<!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Common JS -->
    <script src="/js/common.js"></script>

    <!-- 포트원 sdk -->
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>

<body>

    <!-- 내용 들어올 자리 -->
    <section class="product spad">
        <div class="container" layout:fragment="content">

        </div>
    </section>

</body>
<script>
</script>

</html>