<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/member/layout}" 
     >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section layout:fragment="content">
 <p>메인 자리</p>
 <div class="hero__items set-bg" data-setbg="/img/member/main/aaa.png">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Fall - Winter Collections 2030</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class='bx bx-dice-1'></i>1</a>
                                    <a href="#"><i class='bx bx-dice-2'></i>2</a>
                                    <a href="#"><i class='bx bx-dice-3'></i>3</a>
                                    <a href="#"><i class='bx bx-dice-4'></i>4</a>
                                </div>
                                
                            </div>
                            <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span class="arrow_left"><span></span></span></button><button type="button" role="presentation" class="owl-next"><span class="arrow_right"><span></span></span></button></div>
                        </div>
                    </div>
                   
                </div>
            </div>
            
<p></p>
<div class="content">
        <h3 class="title is-4">검색하기</h3>
        <div class="search_wrapper">
          <input class="search" type="text" placeholder="찾는강의가 있으신가요?">
          <button class="button e_search_submit">
            <span><i class='bx bx-search-alt-2'></i>검색</span>
          </button>
          <div class="search_view_cover e_search_view_cover">
          </div>
        </div>
      </div>
 <div class="SectionTitle_container__PcXfF left size-28"><p class="SectionTitle_label__cEYNl default size-28"></p>
 <p class="SectionTitle_title__iqOHl default size-40">분야별 강의</p>
 <p class="SectionTitle_description__3Deqx default size-28"></p>
 <div class="SectionTitle_button__vZ_Mf size-28"></div>
 </div>
 <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        <li data-filter=".new-arrivals">New Arrivals</li>
                        <li data-filter=".hot-sales">Hot Sales</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter" id="MixItUpE49582">
<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/member/main/11.png">
                        </div>
                        <div class="product__item__text">
                            <h6>혼공자</h6>
                            <a href="#" class="add-cart">+ 더보기</a>
                             <h6>리눅스, DB</h6>
                            <h6>강의1</h6>
                            <h6>서강중</h6>
                        </div>
                    </div>
                </div>
<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/member/main/22.png">
                        </div>
                        <div class="product__item__text">
                            <h6>혼공자</h6>
                            <a href="#" class="add-cart">+ 더보기</a>
                             <h6>NODE.JS, SPRING</h6>
                            <h6>강의2</h6>
                            <h6>김유미</h6>
                        </div>
                    </div>
                </div>
<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/member/main/33.png">
                        </div>
                        <div class="product__item__text">
                            <h6>혼공자</h6>
                            <a href="#" class="add-cart">+ 더보기</a>
                             <h6>JAVA</h6>
                            <h6>강의3</h6>
                            <h6>이창호</h6>
                        </div>
                    </div>
                </div>
<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/member/main/44.png">
                        </div>
                        <div class="product__item__text">
                            <h6>혼공자</h6>
                            <a href="#" class="add-cart">+ 더보기</a>
								<h6>PL/SQL,VIEW</h6>
								<h6>강의4</h6>
                            <h6>권미진</h6>
                        </div>
                    </div>
                </div>
<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/member/main/55.png">
                        </div>
                        <div class="product__item__text">
                            <h6>혼공자</h6>
                            <a href="#" class="add-cart">+ 더보기</a>
                            <h6>HTML/CSS</h6>
                            <h6>강의5</h6>
                            <h6>권정남</h6>
                        </div>
                    </div>
                </div>
<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/member/main/66.png">
                        </div>
                        <div class="product__item__text">
                            <h6>혼공자</h6>
                            <a href="#" class="add-cart">+ 더보기</a>
                             <h6>예담</h6>
                            <h6>행정실장</h6>
                            <h6>권현미</h6>
                        </div>
                    </div>
                </div>
<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/member/main/77.png">
                        </div>
                        <div class="product__item__text">
                            <h6>혼공자</h6>
                            <a href="#" class="add-cart">+ 더보기</a>
                             <h6>예담</h6>
                            <h6>상담</h6>
                            <h6>김지영</h6>
                        </div>
                    </div>
                </div>
<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/member/main/88.png">
                        
                        </div>
                        <div class="product__item__text">
                            <h6>혼공자</h6>
                            <a href="#" class="add-cart">+ 더보기</a>
                            <h6>예담</h6>
                            <h6>상담</h6>
                            <h6>송선희</h6>
                        
                        </div>
                        
                    </div>
                    
                </div>
   
                
            </div>
            
        </div>
        </section>
 </section>

</body>
</html>