<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/blank}">
<meta charset="UTF-8">
<section layout:fragment="content">
	<div class="accordion" id="accordionExample">
		<div class="card">
			<div class="card-header" id="headingOne">
				<h2 class="mb-0">
					<h2 class="related-title">글정보</h2>
					<ul class="info">
						<li>[[${cnq.hit}]]</li>
						<li>[[${#dates.format(cnq.drwupDt,'yyyy/MM/dd')}]]</li>
						<li>댓글수</li>
					</ul>
					<button class="btn btn-link" type="button" data-toggle="collapse"
						data-target="#collapseOne" aria-expanded="true"
						aria-controls="collapseOne"></button>
				</h2>
			</div>

			<div id="collapseOne" class="collapse show"
				aria-labelledby="headingOne" data-parent="#accordionExample">
				<div class="card-body">
					<form method="post" name="frm">
						<div>
							<table>
								<thead>
									<tr>
										<th>No</th>
										<th>제목</th>
										<th>내용</th>
										<th>작성자</th>
										<th>등록일자</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td th:text="${cnq.ltCnqNum}"></td>
										<td th:text="${cnq.ttl}"></td>
										<td th:text="${cnq.cntn}"></td>
										<td th:text="${cnq.name}"></td>
										<td th:text="${#dates.format(cnq.drwupDt,'yyyy/MM/dd')}"></td>
									</tr>
								</tbody>
							</table>
							</div>


							<div class="col-lg-6 col-md-6 col-sm-6">
								<div>
									<a href="/member/cnq/list">#List</a> <a
										th:href="@{/member/cnq/updateform/{ltCnqNum}(ltCnqNum=${cnq.ltCnqNum})}">#수정</a>
									<a
										th:href="@{/member/cnq/{ltCnqNum}(ltCnqNum=${cnq.ltCnqNum})}">#삭제</a>
								</div>
							</div>
					</form>
				</div>
			</div>
		</div>
		<div class="card"></div>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>No</th>
					<th>내용</th>
					<th>작성일자</th>
					<th>작성자</th>
				</tr>
			</thead>
			<tbody id="replyList">
			</tbody>
		</table>
	</div>
	</div>
	<script th:inline="javascript">
	const ltCnqNum = [[${cnq.ltCnqNum}]]
	//함수 호출.
	listReq(1);
	
	//controller에서 주소 따옴.
	function listReq() {
		fetch("/member/cnq/rList?ltCnqNum=" + ltCnqNum)
		.then(res => res.json())
		.then(res => listRes(res))
	}
	
	//list 응답.
	function listRes(res) {
		replyList.innerHTML = '';
	console.log(res);
	// 목록출력
	for( obj of res.data) {
		replyList.innerHTML += makeTr(obj);
	}
}
	//tr 생성.
	function makeTr(obj) {
	let newTag = `<tr>
		<td>${obj.cmtNum}</td>
		<td>${obj.cntn}</td>
		<td>${obj.drwupDt}</td>
		<td>${obj.drwupr}</td>
	</tr>`
	console.log(newTag);
	return newTag;
}
	
	
	</script>
</section>
</html>