<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/member/layout}">
<head>
<meta charset="UTF-8">
<title>list.html</title>
<script th:inline="javascript">

		let cnqlist = [[${cnqlist}]]
		
		function gopage(p){
			frmSearch.page.value = p;
			frmSearch.submit();
		}
		function init(){
			frmSearch.ttl.value = "";
			frmSearch.name.value = "";
		}
		function move(ltCnqNum){
			location.href='/member/cnq/info/'+ ltCnqNum
		}		
	</script>
</head>
<section layout:fragment="content">
	<body>

		<h1>커뮤니티</h1>
		<br>
		<!-- 검색 폼 시작 -->
		<form name="frmSearch" th:object="${cnqVO}">
			<input type="hidden" name="page"> 제목 <input name="ttl"
				th:value="*{ttl}"> 내용 <input name="cntn" th:value="*{cntn}">
			작성자 <input name="name" th:value="*{name}">
			<button type="button" onclick="gopage(1)">검색</button>
			<button type="button" onclick="init()">초기화</button>
		</form>
		<!-- 검색 폼 끝 -->

		<div>
			<ul>
				<li>전체보기 / 답변대기</li>
				<li>검색하기 버튼</li>
			</ul>
		</div>
		<div>
			<table>
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>내용</th>
						<th>날짜</th>
						<th>조회수</th>
						<th>작성자</th>
					</tr>
				<tbody>
					<tr>
						<td colspan="5">
							<button type="button" id="insertBtn">등록</button>
						</td>
					</tr>
					<tr th:each="cnq, stat: ${cnqList}"
						th:onclick="move([[${cnq.ltCnqNum}]])">
						<td th:text="${stat.count}"></td>
						<td th:text="${cnq.ttl}"></td>
						<td th:text="${cnq.cntn}"></td>
						<td th:text="${cnq.drwupDt}"></td>
						<td th:text="${cnq.hit}"></td>
						<td th:text="${cnq.name}"></td>
					</tr>
				</tbody>
			</table>
			<!-- 페이징 시작 -->
			<!-- disabled : 비활성화 -->
			<nav aria-label="...">
				<ul class="pagination">
					<li class="page-item" th:if="${paging.startPage} > 1"><a
						class="page-link"
						th:href="|javascript:gopage(${paging.startPage-1})|">Previous</a></li>

					<li
						th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}"
						class="page-item" th:addclass="${num} == ${paging.page} ? active">
						<a class="page-link" th:href="|javascript:gopage(${num})|"
						th:text="${num}">2</a>
					</li>

					<li class="page-item"
						th:classappend="${paging.endPage} <= ${paging.lastPage} ? disabled">
						<a class="page-link"
						th:href="|javascript:gopage(${paging.endPage+1})|">Next</a>
					</li>
				</ul>
			</nav>
			<!-- 페이징 종료 -->
		</div>

		<script>
	insertBtn.addEventListener("click", e=>{
		location.href='/member/cnq/form'
	})
	</script>
</section>
</body>

</html>