<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>list.html</title>
<script th:inline="javascript">
function move(ltCnqNum){
	location.href='cnq/info/'+ ltCnqNum
}	
</script>
</head>
<body>
	<nav>nav입니다</nav>
	<h1>커뮤니티</h1>
	<div>
		<ul>
			<li>전체보기 / 답변대기</li>
			<li>검색하기 버튼</li>
		</ul>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>제목</th>
					<th>내용</th>
					<th>날짜</th>
					<th>조회수</th>
					<th>작성자</th>
				</tr>
			<tbody>
				<tr>
					<button type="button" id="insertBtn">등록</button>
				</tr>
				<tr th:each="cnq, stat: ${cnqList}" th:onclick="move([[${cnq.ltCnqNum}]])">
					<td th:text="${stat.count}"></td>
					<td th:text="${cnq.ttl}"></td>
					<td th:text="${cnq.cntn}"></td>
					<td th:text="${cnq.drwupDt}"></td>
					<td th:text="${cnq.hit}"></td>
					<td th:text="${cnq.name}"></td>
				</tr>
			</tbody>
		</table>

	</div>
	<script>
	insertBtn.addEventListener("click", e=>{
		location.href='cnq/form'
	})
	</script>
</body>
</html>