<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/member/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<div class="checkout__input contact__form">
				<h3>글 수정</h3>
				<form action="/member/cnq/update" method="post">
					제목 : <input name="ttl" value="${sessionScope.cnq.ttl}"> 
					내용 : <textarea name="cntn" value="${sessionScope.cnq.ttl}"> </textarea>
					<br> 
					작성자 : <input name="name">
					<!--  이미지 : <input name="photofile" type="file">-->
					<button type="button" id="saveBtn">등록</button>
					<button type="button" id="listBtn">글목록으로</button>
				</form>
			</div>
		</div>
	</section>
</body>
</html>