<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/member/layout}">
<head>
<meta charset="UTF-8">
<title>수강중인강의상세</title>
<link rel="stylesheet" href="/css/member/content.css" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>

</head>
<body>
<section layout:fragment="content">
	
	<div class="row lecture_info">
		<div class="col-lg-12">
			<div class="section-title tlsn_title">
			    <h2 th:text="${tlsnInfo.ltTtl}"></h2><em> / </em><span th:text="${tlsnInfo.name}"></span><i>강사님</i>
			    
			    <!-- /* <button class="print">수료증 발급</button> */ -->
			</div>
		</div>
	</div>
	<div class="info tlsn_info_curr">
		<ul>
			<li><i class='bx bx-spreadsheet'></i>
				<div>
					<p>커리큘럼 수</p>
					<span>총 <em th:text="${cur.cnt}"></em>개
					</span>
				</div>
			</li>
			<li><i class='bx bx-bar-chart-alt'></i>
				<div>
					<p>난이도</p>
					<span th:text="${lecture.ltDifCd}"></span>
				</div>
			</li>
			<li><i class='bx bx-pencil'></i>
				<div>
					<p>키워드</p>
					<span th:text="${lecture.ltKeywordCd}"></span>
				</div>
			</li>
			<li>
				<a th:href="@{/member/note/list/{no}(no=${tlsnInfo.ltNum})}" class="message">
					<i class='bx bx-envelope'></i>
					<em>강의쪽지</em>
					<span>바로가기 ></span>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="tlsn_list">
		<div th:each="tlsn, stat: ${tlsn}" class="info tlsn_info tlsn_box">
			<div class="top">
				<div class="left">
					<div class="tit">
						<p><span th:text="${stat.count}"></span><i>회차 커리큘럼</i></p>
						<i th:text="${tlsn.rndTtl}" class="ttl"></i>
						<em> / </em>
						<span><i class="bx bx-stopwatch ico_tlTm"></i><i th:text="${tlsn.ltTm}"></i></span>
					</div>
					<p th:text="${tlsn.rndCntn}"></p>
					<div class="bottom link_button">
						<a href="#" class="go_link gray modal_btn">수강하기 ></a>
					</div>
				</div>
				<div class="graph" id="rndPer" th:data-percent="${curriDetail[stat.index].rndPrgre}"
											 th:data-tlsnno="${curriDetail[stat.index].tlsnNum}"
											 th:data-currino="${tlsn.rndNum}">
					<!-- 차트부분 -->
					<canvas class="myChart" width="120" height="100"></canvas>
					
				</div>
			</div>
			
			<div class="test_modal">
				<div class="text video_text">
					<h3 th:text="${tlsn.rndTtl}" th:data-ltNum="${tlsn.ltNum}" id="dataLtNum"></h3>
					<button class="btn_close"><i class='bx bx-x'></i></button>
					<div class="test_box video_box">
						<video class="lectVideo" controls width="100%">			
							<source th:src="|/downloading/${tlsn.atchNum}" type="video/mp4"/>
						</video>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="btn_box">
		<a th:href="@{/member/tlsn/list}" class="go_list orange">수강중인 강의가기</a>
	</div>
<script th:inline="javascript">

// 반복해서 진행률 담고 차트 그리기
let progress = 0;
let remain = 0;

for(let i = 0; i < rndPer.length; i++) {
	progress = rndPer[i].dataset.percent;
	remain = 100 - progress;
	
	drawChart(progress, remain, i);
}

// 차트그리기
function drawChart(progress, remain, i) {
	// 도넛 차트
	const dataDonut = {
	    datasets: [{
	      label: ['진행률(%)'],
	      data: [remain, progress],
	      backgroundColor: [
	        'rgb(238, 238, 238)',
	        'rgb(255, 138, 0)'
	      ],
	      borderColor: [
	        'rgba(0, 0, 0, 0)'
	      ],
	      borderWidth: 1
	    }]
	};

	// 도넛 차트 안에 텍스트 넣기
	const centerText = {
	   id :'centerText',
	   afterDatasetDraw(chart, args, options){
	     const{ctx, chartArea: {left, right, top, buttom, width, height} } = chart;
	     
	     let text = progress;
	     if (isNaN(text)) {
	       text = 0;
	     }
	
	     ctx.save();
	     ctx.font = '900 18px Nanum Gothic';
	     ctx.fillStyle = 'rgba(50, 50, 50, 0.8)';
	     ctx.textAlign = 'center';
	     ctx.fillText(text + '%', width/2 , height/2 + top);
	     ctx.restore();
	   }
	}
	
	// 차트 설정
	const configDonut = {
	   type: 'doughnut',
	   data: dataDonut,
	   options: {
	     cutout:'60%',
	     borderRadius:10
	   },
	   plugins:[centerText]
	};
  
	let charts = [];
	
	//객체 생성 전에 기존 객체가 배열에 있으면 종료, 배열 초기화
	if(!charts) {
		charts.forEach(obj =>{
			obj.destroy()
		})
	}
	charts = [];
	
	//차트 객체 생성, 배열로 객체 관리
	let myChartDonut = new Chart(document.getElementsByClassName('myChart')[i], configDonut)
	charts.push(myChartDonut)
}
/* -- 차트끝 -- */

/* -- 모달시작 -- */
// 강의 모달
const modals = document.querySelectorAll('.test_modal');
const modalOpens = document.querySelectorAll('.modal_btn');
const modalCloses = document.querySelectorAll('.btn_close');
const lectVideos = document.querySelectorAll('.lectVideo');
const dataNumLts = document.querySelectorAll('.dataNumLt')

let tlsnNum = rndPer[0].dataset.tlsnno;

for(let i = 0; i < modalOpens.length; i++) {
	
	let curriNum = rndPer[i].dataset.currino;
	
	// 모달 열기
	modalOpens[i].addEventListener('click',function(){
		modals[i].classList.add('on');
		
		if(rndPer[i].dataset.percent > 0) {
			
			let totalPlayTime = Math.floor(lectVideos[i].duration);
			
			let lastPlayTime = Math.floor(totalPlayTime * (rndPer[i].dataset.percent / 100));
			
			console.log(checkTime(lastPlayTime));
			
			Swal.fire({
				title: "마지막 수강 위치로 이동하시겠습니까?",
				text: `마지막 수강 위치 : ${checkTime(lastPlayTime)}`,
				icon: "info",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "이동하기",
				cancelButtonText: "처음부터 듣기"
			})
			.then((result) => {
				if (result.isConfirmed) {			    
				lectVideos[i].currentTime = lastPlayTime; //초
				lectVideos[i].play();
				
				// 진도율 인터벌 시작
			    startInterval(curriNum, i, tlsnNum)
				
				} else {
					// 처음부터 재생
					lectVideos[i].currentTime = 0;
					lectVideos[i].play();
					
					// 진도율 인터벌 시작
					startInterval(curriNum, i, tlsnNum);
				}
			});	
		} else {
			// 처음부터 재생
			lectVideos[i].currentTime = 0;
			lectVideos[i].play();
			
			// 진도율 인터벌 시작
			startInterval(curriNum, i, tlsnNum);
		}
		
	})
	
	// 모달 닫기
	modalCloses[i].addEventListener('click',function(){
		modals[i].classList.remove('on');
		
		// 진도율 업데이트
		updateDetailReq(curriNum, i, tlsnNum)
		
	    // 진도율 인터벌 종료
	    stopInterval();
	    
	    // 페이지 새로고침
		history.go(0); 
	});
}


/* 10초 간격으로 진도율 업데이트 하기*/
// intervalID를 저장할 변수
let nIntervId;

function startInterval(curriNum, i, tlsnNum) {
	if (!nIntervId) {
	  nIntervId = setInterval(updateDetailReq, 5000, curriNum, i, tlsnNum);
	  console.log("인터벌 시작");
	}
}


// 진도율 수정 요청.
async function updateDetailReq(curriNum, i, tlsnNum) {
	console.log("수정 함수 호출됨")
	
	// 현재 재생 시간
	let finPlayTime = Math.floor(lectVideos[i].currentTime);
	
	// 전체 재생 시간
	let totalPlayTime = Math.floor(lectVideos[i].duration);
	
	let percent = calculatorPercent(finPlayTime, totalPlayTime).toFixed(1);
	
	// rndPrgre(강의 진행률), rndNum(커리큘럼 회차번호), tlsnNum(수강번호)
	let param = { rndNum: curriNum, rndPrgre : percent, tlsnNum : tlsnNum}
	
	console.log(param)
	let updateRet = await csrf_axios({
						method: 'PUT',
						url: '/member/tlsn/detail/update',
						data: param
					}).catch(e => console.log(e));
	console.log(updateRet);
}


function stopInterval() {
	console.log("인터벌 종료");
	
  	clearInterval(nIntervId);
  	// 변수에서 intervalID를 해체
  	nIntervId = null;
}

// 퍼센트 계산 함수
function calculatorPercent(parts, whole) {
	return (parts / whole) * 100;
}

// 초 -> 분 계산 함수
function checkTime(times) {
	if (times < 60) {
    	return '00분 ' + addZero(times) + '초'
	}
	// sec
	var mins = Math.floor(times / 60)
	var secs = times - mins * 60
	return addZero(mins) + '분' + addZero(secs) + '초'
    
	function addZero(num) {
		return ((num < 10) ? '0' : '') + num
	}
}


</script>
	
</section>

</body>
</html>