<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/member/layout}">
<head>
<meta charset="UTF-8">
<title>쪽지시험</title>
<link rel="stylesheet" href="/css/member/content.css" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<section layout:fragment="content">

	<div class="test_modal">
		<div class="text">
			<h3>쪽지시험</h3>
			<button class="btn_close"><i class='bx bx-x'></i></button>
			<div class="test_box">
				
			</div>
			<div class="btn_box">
				<button type="button" id="saveBtn" class="btn_form">제출하기</button>
			</div>
		</div>
	</div>
	<div class="row lecture_info">
		<div class="col-lg-12">
			<div class="section-title">
			    <h2>쪽지시험</h2>
			</div>
		</div>
	</div>
	
	<div th:each="tlsn, stat: ${tlsnList}" class="info tlsn_info test_info">
		<div class="top">
			<div class="left">
				<div class="top">				
					<i th:text="${tlsn.ltCateCd}"></i>
					<span>/ <i th:text="${tlsn.name}"></i> 강사님</span>
				</div>
				<p th:text="${tlsn.ltTtl}"></p>
				<p th:text="${tlsn.ltNum}" class="hidden"></p>
				
			</div>
			<button type="button" th:onclick='modalOpen([[${tlsn.ltNum}]])' class="go_link">문제풀기 ></button>
		</div>
	</div>
	<div class="btn_box test_btn">
		<a th:href="@{/member/myclass/list}" class="go_list">내강의실가기</a>
	</div>
<script>
	const modal = document.querySelector('.test_modal');
	const modalClose = document.querySelector('.btn_close');
	
	// 문제풀기 버튼클릭시
	function modalOpen(ltNum){
	
		fetch (`/member/test/list/${ltNum}`)
		.then(res => res.json())
		.then(res => {
			saveTest(res);
	    	modal.classList.add('on');
		})
	};
	
	modalClose.addEventListener('click',function(){
	    modal.classList.remove('on');
	});
	
	function saveTest(res) {
		let box = document.querySelector('.test_box');		
		for(let i = 0; i < res.length; i++) {
		let text = `<div>
		<p>${i+1}. ${res[i].prblCntn}</p>
		<ul>
			<li>
				<input type="radio" name="${res[i].prblNum}" value="1"/>
				<label for="${res[i].prblNum}">${res[i].ques1}</label>
			</li>
			<li>
				<input type="radio" name="${res[i].prblNum}" value="2"/>
				<label for="${res[i].prblNum}">${res[i].ques2}</label>
			</li>
			<li>
				<input type="radio" name="${res[i].prblNum}" value="3"/>
				<label for="${res[i].prblNum}">${res[i].ques3}</label>
			</li>
			<li>
				<input type="radio" name="${res[i].prblNum}" value="4"/>
				<label for="${res[i].prblNum}">${res[i].ques4}</label>
			</li>
		</ul>
	</div>`
			box.insertAdjacentHTML("beforeend", text);
		}
	}
	
	// 문제제출하기
	function saveReq() {
		const applexamNum = noteForm.applexamNum.value;
		const memNum = noteForm.memNum.value;
		let param = {applexamNum, memNum}
		console.log(param);
		
		/*
		axios.post("/member/subsp/insert", param)
			.then(res => saveRes(res.data))
		*/
		
		csrf_axios({
				method: 'POST',
				url: '/member/note/insert',
				data: JSON.stringify(param)
			
				})
				.then(res => saveRes(res.data))
	}
	
	// 등록 응답
	function saveRes(res) {
		console.log(res);
		alert('메세지가 전송되었습니다.');
		window.location.href = "/member/note/list";
	}
	
	//버튼 클릭 시 함수 호출.
	saveBtn.addEventListener("click", e => {
		saveReq();
	})
	
	function goBack() {
		window.history.back();
	}
	
	
</script>
</section>
</body>
</html>