<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/member/layout}">
<head>
<meta charset="UTF-8">
<title>오답노트</title>
<link rel="stylesheet" href="/css/member/content.css" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<section layout:fragment="content">
	<div class="row lecture_info">
		<div class="col-lg-12">
			<div class="section-title">
			    <h2>오답노트</h2>
			</div>
		
			<div class="result_list ox_list">
				<div th:each="ox, stat: ${oxList}">
					<p>
						<i th:text="${stat.count}"></i>.
						<span th:text="${ox.prblCntn}"></span>
					</p>
					<ul>
						<li><span>①</span> <p th:text="${ox.ques1}"></p></li>
						<li><span>②</span> <p th:text="${ox.ques2}"></p></li>
						<li><span>③</span> <p th:text="${ox.ques3}"></p></li>
						<li><span>④</span> <p th:text="${ox.ques4}"></p></li>
					</ul>
					<div class="res">
						<p class="ans"><i class="txt">정답</i> <span th:text="${ox.ans}"></span></p>
						<p class="cty">
							<i class="txt">해설</i>
							<span th:text="${ox.cty}"></span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>