<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/teacher/layout}">
<head>

<meta charset="UTF-8">
<title>강사 메인페이지</title>
<script th:inline="javascript">
function move(){
	location.href='/teacher/lecture/getLectureList'
}

</script>
</head>
<body>
<div id="container" layout:fragment="container">
	<div class="row">
		<div class="col-md-6 col-12 mb-md-0 mb-4">
			<div class="card">
			  <h5 class="card-header">강의신청목록</h5>
			  <div class="card-body">
			  <table class="table">
					<thead>
						<tr>
							<th>강의제목</th>
							<th>강의소개</th>
							<th>시작날짜</th>
							<th>강의난이도</th>
							<th>강의키워드</th>
							<th>강사번호</th>
							<th>승인여부</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ing, stat: ${ingLectureList}"
							th:onclick="move([[${ing.ltNum}]])">
							<td th:text="${ing.ltTtl}"></td>
							<td th:text="${ing.ltIntro}"></td>
							<td th:text="${#dates.format(ing.frDt,'yyyy-MM-dd')}"></td>
							<td th:text="${ing.ltDifCd}"></td>
							<td th:text="${ing.ltKeywordCd}"></td>
							<td th:text="${ing.lecturerNum}"></td>
							<td th:text="${ing.accpYnCd}"></td>
							</tr>
							</tbody>
							</table>
			  </div>
			</div>
		</div>
		<div class="col-md-6 col-12">
		  <div class="card">
		    <h5 class="card-header">정산관리</h5>
		    <div class="card-body"> 
		  	</div>
		  </div>
		</div>
	</div>
	
	<div class="row statistics">
	   <div class="col-md-12">
	     <div class="card">
	       <h5 class="card-header">통계</h5>
	       <div class="card-body">
	        <div class="nav-align-top mb-4">
                    <ul class="nav nav-pills mb-3" role="tablist">
                      <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-home" aria-controls="navs-pills-top-home" aria-selected="true">
                          월매출
                        </button>
                      </li>
                      <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-profile" aria-controls="navs-pills-top-profile" aria-selected="false">
                          지출
                        </button>
                      </li>
                      <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-messages" aria-controls="navs-pills-top-messages" aria-selected="false">
                          구독수
                        </button>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="navs-pills-top-home" role="tabpanel">
                        <p>
                          Icing pastry pudding oat cake. Lemon drops cotton candy caramels cake caramels sesame snaps
                          powder. Bear claw candy topping.
                        </p>
                        <p class="mb-0">
                          Tootsie roll fruitcake cookie. Dessert topping pie. Jujubes wafer carrot cake jelly. Bonbon
                          jelly-o jelly-o ice cream jelly beans candy canes cake bonbon. Cookie jelly beans marshmallow
                          jujubes sweet.
                        </p>
                      </div>
                      <div class="tab-pane fade" id="navs-pills-top-profile" role="tabpanel">
                        <p>
                          Donut dragée jelly pie halvah. Danish gingerbread bonbon cookie wafer candy oat cake ice
                          cream. Gummies halvah tootsie roll muffin biscuit icing dessert gingerbread. Pastry ice cream
                          cheesecake fruitcake.
                        </p>
                        <p class="mb-0">
                          Jelly-o jelly beans icing pastry cake cake lemon drops. Muffin muffin pie tiramisu halvah
                          cotton candy liquorice caramels.
                        </p>
                      </div>
                      <div class="tab-pane fade" id="navs-pills-top-messages" role="tabpanel">
                        <p>
                          Oat cake chupa chups dragée donut toffee. Sweet cotton candy jelly beans macaroon gummies
                          cupcake gummi bears cake chocolate.
                        </p>
                        <p class="mb-0">
                          Cake chocolate bar cotton candy apple pie tootsie roll ice cream apple pie brownie cake. Sweet
                          roll icing sesame snaps caramels danish toffee. Brownie biscuit dessert dessert. Pudding jelly
                          jelly-o tart brownie jelly.
                        </p>
                      </div>
                    </div>
                  </div>
	       </div>
	     </div>
	   </div>
	 </div>
	</div>
</body>
</html>