<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/teacher/layout}">
<head>

<meta charset="UTF-8">
<title>강사 메인페이지</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<style>
.cc{
	float: right;
	padding: 12px 40px;
	font-size: 16px;
	border: 0;
	letter-spacing: -1px;
	background: #ff8a00;
	color: #fff;
	border-radius: 5px;
}
.scroll{overflow-x:hidden;}
.content-wrapper{margin:20px auto 0; max-width:calc(1440px - calc(1.625rem * 2));}
</style>
</head>
<body>
<div id="container" class="scroll" layout:fragment="container">
	<div class="row">
		<div class="col-md-6 col-12 mb-md-0 mb-4">
			<div class="card">
			  <h5 class="card-header">강의신청목록</h5>
			  <div class="card-body">
			  <a href="/teacher/lecture/getLectureList" class="cc">목록가기</a>
			  <table class="table">
			
					<thead>
						<tr>
							<th>강의제목</th>
							<th>시작날짜</th>
							<th>강의난이도</th>
							<th>강의키워드</th>
							<th>승인여부</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ing, stat: ${ingLectureList}"
							th:onclick="move([[${ing.ltNum}]])">
							<td th:text="${ing.ltTtl}"></td>
							<td th:text="${#dates.format(ing.frDt,'yyyy-MM-dd')}"></td>
							<td th:text="${ing.ltDifCd}"></td>
							<td th:text="${ing.ltKeywordCd}"></td>
							<td th:text="${ing.accpYnCd}"></td>
							</tr>
							</tbody>
							</table>
			  </div>
			</div>
		</div>
		<div class="col-md-6 col-12">
		  <div class="card">
		    <h5 class="card-header">정산관리</h5>
		    <div class="chart-container" style="position: relative; height:200px; width:40vw; top: 0; left: 30%;">
		    	<canvas class="myChart2" width="100" height="100"></canvas>
		    </div>
		  </div>
		</div>
	</div>
	
	<div class="row statistics">
	   <div class="col-md-12">
	     <div class="card">
	       <h5 class="card-header">통계</h5>
	       <div class="card-body">
	        <div class="nav-align-top mb-4">
                    <ul class="nav nav-pills mb-3" role="tablist">
                      <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-home" aria-controls="navs-pills-top-home" aria-selected="true">
                          수강생 수
                        </button>
                      </li>
                      <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-profile" aria-controls="navs-pills-top-profile" aria-selected="false">
                          매출
                        </button>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="navs-pills-top-home" role="tabpanel">
                        <div class="mb-0" id="chart_div2">
                        <!-- 차트 위치 -->
                        </div>
                      </div>
                      <div class="tab-pane fade" id="navs-pills-top-profile" role="tabpanel">
                        <p>
                         정산중
                        </p>
                        
                      </div>
                     
                    </div>
                  </div>
	       </div>
	     </div>
	   </div>
	 </div>

<script th:inline="javascript">
	/* 차트.js */
	let countIng = 50;
	let countFin = 50;
	
	// 데이터
	let datas = {
	    datasets: [{
	        data: [countIng, countFin]
	    }],
	    labels: [
	        '정산중',
	        '정산 완료'
	    ]
	};
	
	// 도넛 차트
	var myDoughnutChart = new Chart(document.getElementsByClassName('myChart2'), {
	    type: 'doughnut',
	    data: datas,
	   	options: {
	     cutout:'60%',
	     borderRadius:10,
		}		
	});
	
	/* 구글 차트 */
	google.charts.load('current', {'packages':['corechart']});
	
	google.charts.setOnLoadCallback(drawChart);
	
	function drawChart() {
	
	  // Create the data table.
	  var data = new google.visualization.DataTable();
	  data.addColumn('string', 'Topping');
	  data.addColumn('number', '명');
	  data.addRows([
	    ['html의 이해', 50],
	    ['C언어 뿌수기', 20],
	    ['Oracel 완전정복', 10]
	  ]);
	
	  // Set chart options
	  var options = {'title':'강의별 수강생 수',
	                 'width':600,
	                 'height':300};
	
	  // Instantiate and draw our chart, passing in some options.
	  var chart = new google.visualization.BarChart(document.getElementById('chart_div2'));
	  chart.draw(data, options);
	}

</script>
</div>

</body>
</html>