<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iting.cnq.mapper.ReplyMapper">
	<select id="getListWithPaging" resultType="CnqVO">
			SELECT * from (select ROWNUM as rn, a.* from (
	SELECT 	c.cmt_num,
			c.cntn,
			c.drwup_dt,
			l.lt_cnq_num,
			c.drwupr
	FROM	cmt c JOIN lt_cnq l 
		ON(c.lt_cnq_num = l.lt_cnq_num )
		where l.lt_cnq_num = #{vo.ltCnqNum}
		ORDER by c.cmt_num
	<![CDATA[
	) a where ROWNUM <= #{svo.end}) b where rn >= #{svo.start}
	]]>
	</select>
		<select id="getCount" resultType="Long">
		select count(*)
		from cmt
	</select>
</mapper>