<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>사원등록</h2>
	<form action="/insert" method="post">
		<!--/* token 받아오기 */-->
		<!--/* 모든 post 요청은 token이 다 들어가야함 */-->
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		lastName<input name="lastName">
		hireDate<input name="hireDate">
		jobId<select name="jobId" >
			<option value="IT_PROG">Programmer</option>
			<option value="ST_MAN">Stock Manager</option>
		</select>
		이메일<input name="email">
		<button>등록</button>
	</form>
</body>

</html>