<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iting.note.mapper.NoteMapper">
	<!-- 받은쪽지함 -->
	<select id="getRecList" resultType="NoteVO">
		SELECT NOTE_NUM
		       , NOTE_TTL
		       , NOTE_CNTN
		       , RPLY
		       , SENT_DT
		       , REC_DT
		       , CFM_YN_CD
		       , SENT_PS
		       , REC_PS
		FROM NOTE
		WHERE SENT_PS = #{memNum}
		ORDER BY NOTE_NUM DESC
	</select>
	
	<!-- 보낸쪽지함 -->
	<select id="getSentList" resultType="NoteVO" parameterType="String">
		SELECT NOTE_NUM
		       , NOTE_TTL
		       , NOTE_CNTN
		       , RPLY
		       , SENT_DT
		       , REC_DT
		       , CFM_YN_CD
		       , SENT_PS
		       , REC_PS
		FROM NOTE
		WHERE SENT_PS = #{user}
		ORDER BY NOTE_NUM DESC
	</select>
	
	<!-- 단건 조회 -->
	<select id="getNoteInfo" resultType="NoteVO">
		SELECT NOTE_NUM
		       , NOTE_TTL
		       , NOTE_CNTN
		       , RPLY
		       , SENT_DT
		       , REC_DT
		       , CFM_YN_CD
		       , SENT_PS
		       , REC_PS
		FROM NOTE
		WHERE NOTE_NUM = #{noteNum}
	</select>
	
	<!-- 등록 -->
	<insert id="insertNote" parameterType="NoteVO">	
		<selectKey keyProperty="noteNum"
					order="BEFORE"
					resultType="string">
			SELECT 'no' || LPAD(NVL(MAX(SUBSTR(NOTE_NUM, -5)), 0) + 1, 5, '0') AS NOTE_NUM 
			FROM NOTE
		</selectKey>
		INSERT INTO NOTE(NOTE_NUM
						, NOTE_TTL
						, NOTE_CNTN
						, SENT_DT
						, SENT_PS
						, REC_PS
						)
		VALUES ( 
				  #{noteNum}
				, #{noteTtl}
				, #{noteCntn}
				, sysdate
				, #{sentPs}
				, #{recPs}
				
				)
	</insert>
</mapper>