<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/member/layout}" >
<head>
<meta charset="UTF-8">
<title>구독하기</title>

<link rel="stylesheet" href="/css/member/content.css" />

</head>
<body>
<section layout:fragment="content">
	<div class="container">
	<!-- Subscribe Tab -->
	<div class="row">
		<div class="col-lg-12">
	        <div class="product__details__tab">
	            <ul class="nav nav-tabs" role="tablist">
	                <li class="nav-item">
	                    <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">월간구독</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">연간구독</a>
	                </li>
	            </ul>
	            <div class="tab-content">
	            	<!-- 월간 구독 -->
	                <div class="tab-pane active" id="tabs-1" role="tabpanel">
	                    <div class="product__details__tab__content">
	                        <div class="product__details__tab__content__item checkout__input">
	                        	<h5>아이팅 1개월 구독권</h5>
	                            <form method="post" id="subspMonthlyFrm">
	                            	<!-- 월간 -->
									<input type="hidden" value="n1" name="subspTypCd">월간

									<!-- 회원번호 -->
									<input type="hidden" value="m1" name="subspStCd">
									
									<p>가격</p>
									<input type="number" name="subspPrice" value="39800" disabled="disabled">

									<input type="hidden" value="me00001" name="memNum">
									
									<input type="radio" value="o1" name="sttlTypCd">카카오페이
									
									<button type="button" id="payBtn" class="btn btn-primary">결제하기</button>
								</form>
								
								<p>
								구독 주의사항 : 1개월권은 결제일로 부터 30일간 유효하며, 별도로 구독해지를 하지 않을 경우 최초 결제일로 부터 매달 자동으로 결제됩니다.
								</p>
	                        </div>
	                    </div>
	                </div>
	                <!-- 연간 구독 -->
	                <div class="tab-pane" id="tabs-2" role="tabpanel">
	                    <div class="product__details__tab__content">
	                        <div class="product__details__tab__content__item checkout__input">
	                            <form method="post" id="subspYearlyFrm">
									<input type="hidden" value="n2" name="subspTypCd">연간
									<br>
									<p>구독시작일자</p>
									<input type="date" name="subspFrDt" value="2024-04-01">
									<br>
									<p>구독마감일자</p>
									<input type="date" name="subspToDt" value="2024-05-01">
									<br>
									<input type="hidden" value="m1" name="subspStCd">
									<br>
									가격
									<input type="number" name="subspPrice" value="39800" disabled="disabled">
									<br>
									<input type="hidden" value="me00001" name="memNum">
									
									<input type="radio" value="o1" name="sttlTypCd">카카오페이
									<input type="radio" value="o2" name="sttlTypCd">일반결제
									
									<button type="button" id="saveBtns" class="btn btn-primary">결제하기</button>
									<button type="button" id="getBills" class="btn btn-primary">빌링키 테스트</button>
								</form>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
	</div>

<script>
const monthTlt = "아이팅 1개월 구독권";
const yearTlt = "아이팅 12개월 구독권";

const paymentId =  'iting_1month_' + new Date().getTime();

const subspTypCd = subspMonthlyFrm.subspTypCd.value;
const subspStCd = subspMonthlyFrm.subspStCd.value;
const subspPrice = subspMonthlyFrm.subspPrice.value;

// 로그인한 회원번호
const memNum = "[[ ${session.usernum} ]]";
//console.log(memNum);


// 결제하기 버튼 클릭 시
payBtn.addEventListener("click", e => {
	if(memNum == "") {
		errorAlert("로그인이 필요합니다.", "");
	} else {
		reqSubspInfo(memNum); // 0.구독 DB 조회
		
		getBillingKey(memNum); // 1.빌링키 발급
		
		//billingPayReq(); // 2.빌링키로 결제
		
		// 3. 구독 DB 등록
		// subspInsertReq(); // 구독 등록 요청
		
		// 4. 결제 DB 등록
		
	}
	
	
})


/* 0.구독 DB 조회 */
// 구독 정보 단건조회 요청
function reqSubspInfo(memNum) {
	axios({
		method : 'get',
		url : "/member/subsp/" + memNum,
	})
	.then(res => resSubspInfo(res))
	
}

//구독 정보 단건조회 응답
function resSubspInfo(res) {
	if(res.data.subspStCd == "구독중"){
		errorAlert("이미 구독중입니다.", "구독상태를 확인해주세요.");
	}
	else {
		console.log("구독정보 없음, 구독 단건 조회", res.data);
		subspInsertReq() // 구독정보 등록
	}
}

// 구독 등록 요청
function subspInsertReq() {
	
	let param = { subspTypCd, subspFrDt, subspToDt, subspStCd, subspPrice, memNum, subspTypCd }
	
	csrf_axios({
			method: 'POST',
			url: '/member/subsp/insert',
			data: param,
		
			})
			.then(res => subspInsertRes(res.data))
}
// 등록 응답
function subspInsertRes(data) {
	console.log('구독 등록 완료!', data);
}


/* 1.빌링키 발급 */
// 빌링키 발급
async function getBillingKey(memNum) {
	const issueResponse = await PortOne.requestIssueBillingKey({
	  storeId: "store-10763d2e-c1c0-48c6-896a-adb1563480ac",
	  channelKey: "channel-key-dcae4478-0c7f-4678-a1ee-d4f875495fe6",
	  billingKeyMethod: "EASY_PAY",
	  issueName: monthTlt
	});
	// 빌링키가 제대로 발급되지 않은 경우 에러 코드가 존재
	if (issueResponse.code != null) {
	  return alert(issueResponse.message);
	}
	
	console.log("=======빌링키======" + issueResponse.billingKey)
	
	// 서버에 빌링키를 전달
	const response = await csrf_axios({
	  method: "POST",
	  url : "/member/sttl/billing",
	  data: {
	    billingKey: issueResponse.billingKey,
	    memNum
	  },
	});
	if (!response.ok) console.log("err")
}

async function billingPayReq() {
	const billingKey = "billing-key-018ea6e8-d64b-d3ed-e5c2-7f07ed31bc37";

	// 포트원 빌링키 결제 API 호출
	const paymentResponse = await csrf_axios(
	  {
	    method: "POST",
	    url : `https://api.portone.io/payments/${paymentId}/billing-key`,
	    headers: {
	      "Authorization": "PortOne HlqMtdjNfDt6fEhGksazVWdRpTLby0yFlMjjm7R30SalvLd6CX4uY7JjsgxOfetFAfqNYUfaS2I3W4gu"
	    },
	    data: {
	      billingKey : billingKey,
	      orderName: "아이팅 1개월권 정기결제",
	      amount: {
	        total: 38900,
	      },
	      currency: "KRW"
	    },
	  },
	);
	if (!paymentResponse.ok) console.log(paymentResponse);
}


// 결제 요청 (테스트)
async function TestPayRes() {
	const response = await PortOne.requestPayment({
		  // Store ID 설정
		  storeId: "store-10763d2e-c1c0-48c6-896a-adb1563480ac",
		  // 채널 키 설정
		  channelKey: "channel-key-dcae4478-0c7f-4678-a1ee-d4f875495fe6",
		  paymentId: "202020310230232010",
		  orderName: "아이팅 1개월 구독권",
		  totalAmount: subspPrice,
		  currency: "CURRENCY_KRW",
		  payMethod: "EASY_PAY"
		});
	
	console.log("====결제결과=====" + response);
	
	 if (response.code != null) {
	    // 오류 발생
	    return alert(response.message);
	 }
}
</script>



</section>
</body>
</html>