<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/member/layout}" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section layout:fragment="content">
	<div class="container">		
		<div class="card text-center">
		  <div class="card-header ">
		    아이팅 1개월 구독권
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">아이팅 구독 시 받는 혜택!</h5>
		    <p class="card-text">강의 1개 가격으로 모든 강의 무제한 수강
							<br>언제든 물어볼 수 있는 아이팅 커뮤니티
			</p>
			
			<div class="checkout__input">			
				<form method="post" id="subspFrm">
					<input type="radio" value="n1" name="subspTypCd">월간
					<input type="radio" value="n2" name="subspTypCd">연간
					<br>
					<p>구독시작일자</p>
					<input type="date" name="subspFrDt" value="2024-04-01">
					<br>
					<p>구독마감일자</p>
					<input type="date" name="subspToDt" value="2024-05-01">
					<br>
					<input type="hidden" value="m1" name="subspStCd">
					<br>
					가격
					<input type="number" name="subspPrice" value="39800" disabled="disabled">
					<br>
					<input type="hidden" value="me00001" name="memNum">
					
					<input type="radio" value="o1" name="sttlTypCd">카카오페이
					<input type="radio" value="o2" name="sttlTypCd">일반결제
					
					<button type="button" id="saveBtn" class="btn btn-primary">결제하기</button>
					<button type="button" id="getBill" class="btn btn-primary">빌링키 테스트</button>
				</form>
			</div>
		  </div>
		</div>
	
	
	
	
		
	</div>
	
	

<script>
// 현재날짜 등록

//등록 요청
const subspTypCd = subspFrm.subspTypCd.value;
const subspFrDt = subspFrm.subspFrDt.value;
const subspToDt = subspFrm.subspToDt.value;
const subspStCd = subspFrm.subspStCd.value;
const subspPrice = subspFrm.subspPrice.value;
const memNum = subspFrm.memNum.value;

function saveReq() {
	//const subspTypCd = subspFrm.subspFrm.value;

	let param = { subspTypCd, subspFrDt, subspToDt, subspStCd, subspPrice, memNum, subspTypCd }
	
	//console.log(param);
	
	/*
	axios.post("/member/subsp/insert", param)
		.then(res => saveRes(res.data))
	*/
	
	csrf_axios({
			method: 'POST',
			url: '/member/subsp/insert',
			data: param,
		
			})
			.then(res => saveRes(res.data))
}
// 등록 응답
function saveRes(res) {
	payRes()
	//console.log(res);
	alert('구독 등록 완료!');
}

// 등록 
saveBtn.addEventListener("click", e => {
	// saveReq();
	payReq()
	
})

// 빌링키 테스트
getBill.addEventListener("click", e => {
	getBillingKey();// 빌링키 발급 함수 호출
})


// 결제 요청 (테스트)
async function TestPayRes() {
	const response = await PortOne.requestPayment({
		  // Store ID 설정
		  storeId: "store-10763d2e-c1c0-48c6-896a-adb1563480ac",
		  // 채널 키 설정
		  channelKey: "channel-key-dcae4478-0c7f-4678-a1ee-d4f875495fe6",
		  paymentId: "202020310230232010",
		  orderName: "아이팅 1개월 구독권",
		  totalAmount: subspPrice,
		  currency: "CURRENCY_KRW",
		  payMethod: "EASY_PAY"
		});
	
	console.log("====결제결과=====" + response);
	
	 if (response.code != null) {
	    // 오류 발생
	    return alert(response.message);
	 }
}

// 빌링키 발급
async function getBillingKey() {
	const issueResponse = await PortOne.requestIssueBillingKey({
	  storeId: "store-10763d2e-c1c0-48c6-896a-adb1563480ac",
	  channelKey: "channel-key-dcae4478-0c7f-4678-a1ee-d4f875495fe6",
	  billingKeyMethod: "EASY_PAY",
	  issueName: "빌링키 발급중"
	});
	// 빌링키가 제대로 발급되지 않은 경우 에러 코드가 존재합니다
	if (issueResponse.code != null) {
	  return alert(issueResponse.message);
	}
	
	
	console.log("=======빌링키======" + issueResponse.billingKey)
	
	// 고객사 서버에 빌링키를 전달합니다
	const response = await csrf_axios({
	  method: "POST",
	  url : "/member/subsp/billing",
	  data: {
	    billingKey: issueResponse.billingKey
	  },
	});
	if (!response.ok) console.log("err")
}

async function payReq() {
	const billingKey = "billing-key-018ea20a-1da0-531d-5c92-40126b027aa9";
	
	// 고객사에서 채번하는 새로운 결제 ID를 만들어주세요.
	//const paymentId = OrderService.getNewPaymentId();
	const paymentId =  'iting_1month_' + new Date().getTime();

	// 포트원 빌링키 결제 API 호출
	const paymentResponse = await csrf_axios(
	  {
	    method: "POST",
	    url : `https://api.portone.io/payments/${paymentId}/billing-key`,
	    headers: {
	      "Authorization": "PortOne HlqMtdjNfDt6fEhGksazVWdRpTLby0yFlMjjm7R30SalvLd6CX4uY7JjsgxOfetFAfqNYUfaS2I3W4gu"
	    },
	    data: {
	      billingKey,
	      orderName: "아이팅 1개월권 정기결제",
	      // 빌링키 결제 API를 참고해 고객 정보를 채워주세요.
	      customer: {
	    	  id : "me00001",
	    	  name : "홍길동",
	    	  email : "hong@naver.com"
	      },
	      amount: {
	        total: 38900,
	      },
	      currency: "KRW"
	    },
	  },
	);
	if (!paymentResponse.ok) console.log("pay err");
}


</script>
	
</section>
</body>
</html>