<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/teacher/layout}">
<head>
<meta charset="UTF-8">
<title>강의 목록</title>
<script th:inline="javascript">
function move(ltNum){
	location.href='/teacher/lecture/info/'+ ltNum
}

</script>
<style>
#asd {
	float: right;
	padding: 12px 40px;
	font-size: 16px;
	border: 0;
	letter-spacing: -1px;
	background: #ff8a00;
	color: #fff;
	border-radius: 5px;
}
/* .tt {
width: 30%;
} */

/* table td p {
	
text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 80%;
} */
</style>
</head>
<body>
	<div id="container" layout:fragment="container">
		<div class="card">
			<h4 class="card-header">
				강의목록
				<button type="button" id="asd" onclick="location.href='/teacher/lecture/insert'">등록하기</button>
			
			</h4>
			<div class="table-responsive text-nowrap">
				<table class="table">
					<thead>
						<tr>
							<th>강의번호</th>
							<th class="tt">강의제목</th>
							<th>강의소개</th>
							<th>시작날짜</th>
							<th>강의난이도</th>
							<th>강의키워드</th>
							<th>강사번호</th>
							<th>승인여부</th>
							<th>커리큘럼</th>
							</tr>
					</thead>
					<tbody>
						<tr th:each="ltb, stat: ${getLectureList}"
							th:onclick="move([[${ltb.ltNum}]])">
							<td th:text="${ltb.ltNum}"></td>
							<td th:text="${ltb.ltTtl}"></td>
							<td>
							<p class="text-truncate" style="width: 8rem;" th:text="${ltb.ltIntro}"></p>
							</td>
							<td th:text="${#dates.format(ltb.frDt,'yyyy-MM-dd')}"></td>
							<td th:text="${ltb.ltDifCd}"></td>
							<td th:text="${ltb.ltKeywordCd}"></td>
							<td th:text="${ltb.lecturerNum}"></td>
							<td th:text="${ltb.accpYnCd}"></td>
							<td onclick="event.cancelBubble = true;">
							<a class="btn btn-success" th:href="|/teacher/curri/list/${ltb.ltNum}|">커리큘럼</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>