<!--  -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/teacher/layout}">
<head>
<meta charset="UTF-8">
<title>강의 등록</title>
<style>
.btn_box {
	text-align: center;
}
</style>
</head>

<body>
	<section layout:fragment="container">
		<div id="container">
			<h4 class="fw-bold py-3 mb-4">강의등록</h4>
			<div class="test_insert">
				<form id="formAccountSettings" method="POST" name="testForm"
					onsubmit="return false">
					<div class="row">
						<div class="mb-3">
							<h5 class="tit">강의명을 입력해주세요.</h5>
							<input class="form-control" type="text" id="ltTtl" name="ltTtl">
						</div>
						<hr class="my-0">
						<div class="mb-3 test_list">
							<label for="lecturerNum" class="form-label">강사번호</label><input
								th:value="${session.usernum}" class="form-control" type="text"
								name="lecturerNum" id="lecturerNum" readonly>
						</div>
						<div class="mb-3 test_list">
							<label for="ltIntro" class="form-label">강의소개</label>
							<textarea class="form-control" name="ltIntro" id="ltIntro"></textarea>
						</div>
						<div class="mb-3 test_list">
							<label for="uFile" class="form-label">이미지</label>
							<input class="form-control" type="file" name="uFile" onchange="uploadFileReq(testForm.typCode.value, testForm)">
							<input type="hidden" name="typCode" th:value="k1">
						</div>
						<div class="mb-3 test_list">
							<label for="frDt" class="form-label">강의날짜</label> <input
								class="form-control" type="Date" name="frDt" id="frDt">
						</div>
						<div class="mb-3 test_list">
							<label for="ltKeywordCd">강의 키워드 선택</label> <select
								name="ltKeywordCd" id="ltKeywordCd">
								<option value="h1">HTML</option>
								<option value="h2">JAVA</option>
								<option value="h3">JavaScript</option>
								<option value="h4">정보처리기사</option>
								<option value="h5">Oracle</option>
							</select>
						</div>
						<div class="mb-3 test_list">
							<label for="ltDifCd">강의 난이도</label> <select name="ltDifCd"
								id="ltDifCd">
								<option value="g1">상</option>
								<option value="g2">중</option>
								<option value="g3">하</option>
							</select>
						</div>
					</div>
					<div class="mb-3 test_list">
						<label for="ltCateCd" class="form-label" name="ltCateCd"
							id="ltCateCd">카테고리</label>
						<div>
							<div class="form-check form-check-inline mt-3">
								<input class="form-check-input" type="checkbox" name="ltCateCd"
									id="checkbox1" value="f1"> <label
									class="form-check-label" for="checkbox1">기초강의</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" name="ltCateCd"
									id="checkbox2" value="f2"> <label
									class="form-check-label" for="checkbox2">데이터 분석</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" name="ltCateCd"
									id="checkbox3" value="f3"> <label
									class="form-check-label" for="checkbox3">웹 개발</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" name="ltCateCd"
									id="checkbox4" value="f4"> <label
									class="form-check-label" for="checkbox4">프로그래밍 언어</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" name="ltCateCd"
									id="checkbox5" value="f5"> <label
									class="form-check-label" for="checkbox5">인공지능</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" name="ltCateCd"
									id="checkbox6" value="f6"> <label
									class="form-check-label" for="checkbox6">컴퓨터공학 전공지식</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox" name="ltCateCd"
									id="checkbox7" value="f7"> <label
									class="form-check-label" for="checkbox7">IT자격증</label>

							</div>
							<div class="mb-3 test_list">
								<label for="rdmCateCd">로드맵</label> <select name="rdmCateCd"
									id="rdmCateCd">
									<option value="i1">풀스택 개발자</option>
									<option value="i2">프론트엔트 개발자</option>
									<option value="i3">백엔드 개발자</option>
								</select>
							</div>
						</div>
					</div>
					<br>
					<div class="mb-3 test_list">
						<label for="accpYnCd" class="form-label">승인여부</label><input
							th:value="d2" class="form-control" type="text" name="accpYnCd"
							id="accpYnCd" readonly>
					</div>
				</form>
			</div>
			<div class="btn_box demo-inline-spacing">
				<button type="button" id="saveBtn"
					class="btn btn-lg btn btn-warning">신청하기</button>
			</div>
		</div>
		<div></div>
		<input type="hidden" th:value="${session.usernum}" name="tnum">
		<script>
		function saveReq() {
			/* const ltName = testForm.ltName.value; */
			const ltTtl = testForm.ltTtl.value;
			const accpYnCd = testForm.accpYnCd.value;
			const ltIntro = testForm.ltIntro.value;
			const frDt = testForm.frDt.value;
			const ltDifCd = testForm.ltDifCd.value;
			const lecturerNum = testForm.lecturerNum.value;
			//const ltCateCd = testForm.ltCateCd.value;
			const ltCateCd = "f1";
			const ltKeywordCd = testForm.ltKeywordCd.value;
			const rdmCateCd = testForm.rdmCateCd.value;
			
			let param = { ltTtl, ltIntro, ltImg:fileNum, frDt, ltDifCd,lecturerNum, ltCateCd,ltKeywordCd,accpYnCd ,rdmCateCd}
			console.log(param);
			
			/*
			axios.post("/member/subsp/insert", param)
				.then(res => saveRes(res.data))
			*/
			
			csrf_axios({
					method: 'POST',
					url: '/teacher/lecture/insert', 
					data: param
				
					})
					.then(res => saveRes(res.data))
		}

		// 등록 응답
				function saveRes(res) {
				  Swal.fire({
				  title: "글등록이 완료되었습니다",
				  icon: "success",
				  showCancelButton: true,
				  confirmButtonColor: "#3085d6",
				  cancelButtonColor: "#d33",
				  confirmButtonText: "확인",
				  cancelButtonText: "취소"
				}).then((result) => {
				  if (result.isConfirmed) {
				    location.href = "/teacher/lecture/getLectureList";
				  }
				});

		}
		//버튼 클릭 시 함수 호출.
		saveBtn.addEventListener("click", e => {
			saveReq();
			
		})


	
</script>
	</section>
</body>
</html>