<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/teacher/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.btn_box {
    text-align: center;
}
</style>
</head>

<body>
<section>
<div id="container" layout:fragment="container">
	<h4 class="fw-bold py-3 mb-4">강의등록</span></h4>
   <div class="test_insert">
     <form id="formAccountSettings" method="POST" name="testForm" onsubmit="return false">
       <div class="row">
         <div class="mb-3">
           
           	<h5 class="tit">강의명을 입력해주세요.</h5>
           
           <input class="form-control" type="text" id="ltName" name="ltName" value="" autofocus="">
         </div>
         <hr class="my-0">
         <div class="mb-3 test_list first_list">
           <label for="tlTtl" class="form-label">강의주제</label>
           <input class="form-control" type="text" name="tlTtl" id="tlTtl">
         </div>
         <div class="mb-3 test_list">
           <label for="ques" class="form-label">커리큘럼</label>
           <input class="form-control" type="text" name="ques" id="ques">
         </div>
         <div class="mb-3 test_list">
           <label for="ltIntro" class="form-label">강의소개</label>
           <input class="form-control" type="text" name="ltIntro" id="ltIntro">
         </div>
         <div class="mb-3 test_list">
           <label for="file" class="form-label">첨부파일</label>
           <input class="form-control" type="file" name="file" id="file">
         </div>
	     	 <div class="mb-3 test_list">
           <label for="frDt" class="form-label">강의날짜</label>
           <input class="form-control" type="Date" name="frDt" id="frDt">
         </div>
          <div class="mb-3 test_list">
           <label for="ltDifCd" class="form-label">강의난이도</label>
           <input class="form-control" type="text" name="ltDifCd" id="ltDifCd">
         </div>
	     	
	     </div>
  		</div>
  		<input type="hidden" th:value="${session.usernum}" name="tnum">
    	</form>
    	<div class="btn_box demo-inline-spacing">
           <button type="button" id="saveBtn" class="btn btn-lg btn btn-warning">등록하기</button>
         </div>
<script>
	function saveReq() {
		/* const ltName = testForm.ltName.value; */
		const ltTtl = testForm.tlTtl.value;
		/* const ques = testForm.ques.value; */
		const ltIntro = testForm.ltIntro.value;
		const ltImg = testForm.file.value;
		const frDt = testForm.frDt.value;
		const ltDifCd = testForm.ltDifCd.value;
		const lecturerNum = testForm.tnum.value;
		
		
		
		let param = {ltName, tlTtl, ltIntro, ltImg,frDt, ltDifCd, lecturerNum}
		console.log(param);
		
		/*
		axios.post("/member/subsp/insert", param)
			.then(res => saveRes(res.data))
		*/
		
		csrf_axios({
				method: 'POST',
				url: '/teacher/lecture/insert1', 
				data: param
			
				})
				.then(res => saveRes(res.data))
	}
	
	// 등록 응답
	function saveRes(res) {
		console.log(res);
		alert('문제가 등록되었습니다.');
		window.location.href = "/lecture/lecture";
		
	}
	
	//버튼 클릭 시 함수 호출.
	saveBtn.addEventListener("click", e => {
		saveReq();
		
		
	})
	
	
</script>
  </div>
</div>
</section>
</body>
</html>