*{letter-spacing:-0.5px; font-family: "Noto Sans KR", sans-serif !important;}
/* 강의상세 */
.lecture_info{margin-top:20px;}
.section-title{position:relative; margin-bottom:0; text-align:left; letter-spacing:-1px;}
.section-title span{margin-bottom:5px; font-size:15px;}
.info{width:100%; margin-top:25px; padding:20px 40px 20px 30px; background:#f9f9f9; border-radius:15px; box-sizing:border-box;}
.info ul{float:left; width:calc(100% - 20%); list-style:none;}
.info li{float:left; position:relative; width:29%; margin:0 2%;}
.info li:before{content:''; display:block; position:absolute; left:-50px; top:50%; width:1px; height:40px; border-left:1px dashed #ccc; transform:translateY(-50%);}
.info li:first-child:before{display:none;}
.info li i{float:left; color:#205cdc; font-size:30px;}
.info li:last-child i{font-size:27px;}
.info li div{float:left; margin-left:15px;}
.info li p,
.info li a{color:#888; font-size:14px; margin-bottom:0;}
.info li span{display:block; color:#555; font-size:17px; font-weight:700;}
.info li span em{font-style:normal;}
.info button{float:right; padding:12px 40px; font-size:16px; border:0; letter-spacing:-1px; background:#205cdc; color:#fff; border-radius:5px;}
.info:after,
.info ul:after,
.info li:after{content:''; display:block; clear:both;}
.lecture_info .text{color:#555; font-size:16px; font-weight:600; margin-top:30px; word-break:keep-all;}
.lecture_list{margin-top:20px;}
.lecture_list:after{content:''; display:block; clear:both;}
.lecture_list .left{float:left; width:68%; height:340px; margin-right:3%; overflow:hidden; background:#000; border-radius:15px;}
.lecture_list .left video{width:100%; height:100%;}
.lecture_list .right{float:right; width:29%; height:340px; padding:40px 20px 30px; border-radius:15px; box-sizing:border-box; box-shadow:0 0 5px 1px rgba(0, 0, 0, 0.1);}
.lecture_list .right h3{font-size:17px; font-weight:700; letter-spacing:-1px; border-bottom:1px dashed #ddd; padding-bottom:20px; box-sizing:border-box;}
.lecture_list .right h3 i{display:inline-block; margin-top:-5px; color:#205cdc; margin-right:3px; font-size:20px;}
.lecture_list .right p{background:#f9f9f9; box-sizing:border-box; padding:10px 10px 10px 15px; border:1px solid #ddd; border-radius:8px; margin-top:20px;}
.lecture_list .right p span{display:block;}
.lecture_list .right p span i{color:#205cdc; font-weight:700; font-style:normal;}
.lecture_list .right p span .bx{font-weight:300; color:#555;}
.lecture_list .right .target{display:inline-block; margin-top:20px; padding:5px; border-radius:5px; color:#ff8a00; font-size:13px; font-weight:700; background:#ffecd5; border:1px solid #ff8a00;}
.lecture_list .right .txt{display:block; margin-top:10px; color:#555; font-size:15px; letter-spacing:-1px;}
.lecture_list .right .btn{padding:0; margin-top:10px;}
.lecture_list .right .btn button{width:143px; padding:10px 5px; font-size:15px; letter-spacing:-1px; border:1px solid #205cdc; background:#205cdc; color:#fff; border-radius:5px;}
.lecture_list .right .btn button + button{margin-left:5px; background:#ff8a00; border:1px solid #ff8a00;}
.lecture_cur{margin-top:70px;}
.lecture_cur .related-title{width:100%; text-align:left; margin-bottom:0;}
.lecture_cur ul{list-style:none;}
.lecture_cur ul:after{content:''; display:block; clear:both;}
.lecture_cur li{float:left; margin-right:20px;}
.lecture_cur li p{margin-top:10px; color:#555;}
.lecture_cur li i{font-style:normal; font-weight:700;}
.lecture_cur li .bx{margin-top:-5px; font-size:20px; font-weight:300;}
.lecture_cur .list{width:100%; margin-top:10px;}
.lecture_cur .list li{width:100%; margin-bottom:15px;}
.lecture_cur .list div{padding:15px 20px; border:1px solid #ddd; border-radius:10px; background:#f9f9f9; box-sizing:border-box;}
.lecture_cur .list div a{display:block; font-size:17px; font-weight:600;}
.lecture_cur .list div a span{display:inline-block; width:25px; height:25px; margin-right:10px; line-height:24px; color:#fff; font-weight:700; text-align:center; background:#111; border-radius:5px;}
.product__details__tab{margin-top:30px;}
.product__details__tab .nav-tabs .nav-item .nav-link.active{border-bottom:2px solid #ff8a00;}
.review{list-style:none; margin-top:10px;}
.review li{float:left; width:23.5%; margin:25px 1% 0;}
.review li:nth-child(4n+1){margin-left:0;}
.review li:nth-child(4n+4){margin-right:0;}
.review li > div{border:1px solid #ddd; border-radius:10px; height:280px; padding:30px; box-sizing:border-box; text-align:center;}
.review li div .img{display:block; width:60px; height:60px; margin:0 auto; border-radius:50%; background:#ddd;}
.review li div .id{margin-top:5px; color:#888; font-size:14px; font-weight:700;}
.review li div .text{text-align:left; margin-top:10px; font-size:15px; font-weight:600; line-height:1.5rem; word-break:keep-all; letter-spacing:-1px;}
.review:after{content:''; display:block; clear:both;}
.review .star{margin-top:5px;}
.review .star i{letter-spacing:-1px; color:#ffca35;}

/* 내강의실 */
.lt_info{position:relative; padding:30px; border:1px solid #d5def9; background:rgb(98 140 230 / 5%);} 
.lt_info .go_link{position:absolute; right:30px; top:30px; color:#888; font-size:14px; font-weight:500; letter-spacing:-1px;}
.lt_info .go_link:hover{color:#333;}
.info.lt_info div{margin-left:0;}
.lt_info h3{font-size:17px; font-weight:700;}
.lt_info ul{float:none; height:165px; overflow:hidden; margin-top:20px; width:100%;}
.lt_info ul li{width:23.5%; margin:0 1%;}
.lt_info ul li:before{display:none;}
.lt_info ul li:nth-child(4n + 1){margin-left:0;}
.lt_info ul li:nth-child(4n + 4){margin-right:0;}
.lt_info .box{float:none; height:165px; margin-left:0; padding:20px; border:1px solid #ddd; background:#fff; border-radius:10px;}
.lt_info .box .left i{float:none; display:block; font-style:normal; font-size:13px !important; font-weight:700;}
.lt_info .box .left p{margin-top:5px; color:#555; font-size:16px; line-height:1.4rem; font-weight:700; word-break:keep-all;}
.lt_info .box .left span{display:block; margin-top:5px; color:#777; font-size:14px !important; font-weight:400;}
.lt_info .box .left span i{display:inline-block; color:#777; font-style:normal; font-size:14px !important; font-weight:700;}
.lt_info .box .left{float:left; width:calc(100% - 30%);}
.lt_info .box .graph{float:right; width:27%;}
.lt_info .box .graph span{display:block; width:65px; height:65px; font-size:13px; background:#eee; border-radius:50%;}
.lt_info .box .top{float:none;}
.lt_info .box .top:after{content:''; display:block; clear:both;}
.lt_info .box .bottom{float:none; width:100%; padding-top:10px; margin-top:20px; border-top:1px dashed #ddd;}
.lt_info .box .bottom{color:#555;}
.lt_info .box .bottom i{font-size:20px; margin-right:5px; margin-top:3px;}
.myclass_list{margin-top:20px; min-height:240px;}
.myclass_list ul{list-style:none;}
.myclass_list > ul{display:flex; width:100%; gap:2%; justify-content:space-between;}
.myclass_list > ul > li{width:33%;}
.myclass_list > ul > li > div{height:100%; padding:25px 20px; border:1px solid #ddd; background:#f9f9f9; border-radius:10px;}
.myclass_list > ul > li:first-child > div{background:rgb(255 138 0 / 5%); border:1px solid #ffd8a9;}
.myclass_list h3{font-size:17px; font-weight:700;}
.myclass_list div{position:relative;}
.myclass_list div ul{height:200px; overflow:hidden; margin-top:15px;}
.myclass_list div ul li, .graph{margin-top:5px;}
.myclass_list div ul a{display:block; background:#fff; padding:10px; border:1px dashed #ddd; border-radius:5px; color:#888; font-size:15px; font-weight:600;}
.myclass_list div ul a i{margin-right:3px; margin-top:-3px;}
.myclass_list div ul a em{float:right; font-size:14px; color:#777; font-weight:400; font-style:normal;}
.myclass_list div ul a em i{color:#777 !important; margin-right:0; font-size:14px; font-weight:700; font-style:normal;}
.myclass_list div ul a:after{content:''; display:block; clear:both;}
.myclass_list .go_link{position:absolute; right:20px; top:25px; color:#888; letter-spacing:-1px; font-size:14px;}
.myclass_list > ul > li:first-child div a i{color:#ff8a00;}
.print{position:absolute; right:0; top:0; padding:12px 30px; font-size:16px; color:#fff; border:0; letter-spacing:-1px; border-radius:5px; background:#205cdc;}
.lecture_calendar{position:relative; margin-top:70px;}
.lecture_calendar .go_link{position:absolute; right:0; top:13px; color:#555; font-size:14px;}
.lecture_calendar h3{width:100%; margin-bottom:25px; text-align:left;}
.lecture_calendar h3 span{display:inline-block; margin-left:10px; font-size:15px; font-wegiht:700; color:#888;}
.lecture_calendar .list{width:100%; height:250px; padding:20px 0; border:1px solid #ddd; border-radius:10px;}
.lecture_calendar .list ul{display:flex; justify-content:space-between; height:100%; list-style:none;}
.lecture_calendar .list li{width:14%; padding:0 15px; border-left:1px solid #ddd; box-sizing:border-box;}
.lecture_calendar .list li:first-child{border-left:0;}
.lecture_calendar .list p{font-size:15px; font-weight:700;}
.lecture_calendar .list p i{margin-top:-5px;}
.lecture_calendar .list span{display:block; color:#555; margin-bottom:8px; font-size:13px; font-weight:600; letter-spacing:-1px; padding:5px 10px; border-radius:5px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.lecture_calendar .list li:nth-child(odd) span{background:#f7f9fe;}
.lecture_calendar .list li:nth-child(even) span{background:#f9f9f9;}

/* 수강중인강의 */
.tlsn_info{position:relative; padding:30px; border:1px solid #ddd; background:#fff;}
.tlsn_info .top{display:flex; justify-content:space-between; align-items:center;}
.tlsn_info .top i{float: none; display:block; font-style:normal; color:#205cdc; font-size:13px !important; font-weight:700;}
.tlsn_info .top p{margin-top:5px; margin-bottom:5px; color:#555; font-size:16px; line-height:1.4rem; font-weight:700; word-break:keep-all;}
.tlsn_info .top span{display:block; color:#777; font-weight:400; font-size:14px;}
.tlsn_info .top span i{display:inline-block; color:#777; font-size:14px !important; font-style:normal; font-weight:700;}
.tlsn_info .graph span{display:block; width:65px; height:65px; font-size:13px; background:#eee; border-radius:50%;}
.tlsn_info .bottom{position:relative; float:none; width:100%; color:#555; padding-top:10px; margin-top:20px; border-top:1px dashed #ddd;}
.tlsn_info .bottom p{color:#888; font-size:15px; margin-bottom:0; font-weight:400; margin-top:10px;}
.tlsn_info .bottom  i{margin-top:-2px; font-size:20px; color:#205cdc;}
.tlsn_info .go_link{position:absolute; right:0; top:50%; padding:5px 15px; background:#205cdc; border-radius:50px; color:#fff; font-size:14px; font-weight:700;}
.btn_box{margin-top:30px; text-align:center;}
.btn_box [class^="go_"]{padding:12px 40px; font-size:16px; border:0; letter-spacing:-1px; background:#205cdc; color:#fff; border-radius:5px;}
.tlsn_title h2{float:left;}
.tlsn_title em{display:block; font-style:normal; float:left; margin:13px 10px 0; color:#888;}
.tlsn_title span{display:block; float:left; margin-top:16px;}
.tlsn_title .message{margin-left:10px; border:0; background:none; padding:0; float:left;}
.tlsn_title .message i{margin-top:9px; color:#205cdc; font-size:35px;}
.tlsn_title:after{content:''; display:block; clear:both;}
.tlsn_info .top .tit i{display:inline-block;}
.tlsn_info .top .tit em{display:inline-block; margin:0 5px; color:#ccc; font-size:14px; font-style:normal;}
.tlsn_info .top .tit span{display:inline-block;}
.tlsn_info.tlsn_box{padding:25px 30px 30px;}
.tlsn_info.tlsn_box .bottom{border-top:0; padding-top:0;}
.tlsn_info.tlsn_box .bottom a{position:relative; top:auto; right:auto;}
.tlsn_info .top span i.ico_tlTm{font-size:20px !important; font-weight:500; color:#555; vertical-align:middle; margin-right:3px; margin-top:-2px;}

/* 강의질문 */
.message_box h2 em{font-style:normal; margin-right:5px; font-size:20px; color:#ccc;}
.message_box h2 i{font-style:normal; color:#b7b7b7; font-size:20px;}
.message_list{margin-top:30px;}
.message_list .product__details__tab{margin-top:0; padding-top:0;}
.message_list .tab-content ul{list-style:none;}
.message_list .tab-content ul li > *{float:left;}
.message_list .tab-content ul li:first-child{padding-top:15px; border-top:1px dashed #ddd;}
.message_list .tab-content ul li{margin-top:15px; padding-bottom:15px; border-bottom:1px dashed #ddd;}
.message_list .tab-content ul li:after{content:''; display:block; clear:both;}
.message_list .tab-content ul li a{margin-bottom:0; font-size:16px; width:calc(100% - 17%); letter-spacing:-1px; color:#555; font-weight:700; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.message_list .tab-content ul li a.new{position:relative; padding-left:20px;}
.message_list .tab-content ul li a.new:before{content:'N'; display:block; position:absolute; left:0; top:4px; width:15px; height:15px; color:#fff; border-radius:50%; font-size:10px; text-align:center; background:red;}
.message_list .tab-content ul li span{display:block; margin:0 1%; font-size:15px; font-weight:500;}
.message_list .tab-content ul li i{float:right; font-style:normal; color:#777; font-weight:300; font-size:15px;}
.message_info{margin-top:30px;}
.message_info span{display:inline-block; color:#ff8a00; font-size:13px; font-weight:700;}
.message_info i{position:relative; margin-left:10px; padding-left:10px; font-size:13px; color:#777; font-style:normal; display:inline-block;}
.message_info i:before{content:''; display:block; position:absolute; left:-2px; top:2px; width:1px; height:15px; background:#ddd;}
.message_info p{margin-top:10px; font-size:16px; font-weight:700; letter-spacing:-1px;}
.message_info .txt{margin-top:5px; padding-top:15px; border-top:1px solid #ddd; font-size:15px; color:#555; letter-spacing:-1px; font-weight:400;}
.btn_box.demo-inline-spacing .btn{width:143px; padding:12px 40px; font-size:16px; letter-spacing:-1px; border:1px solid #205cdc; background:#205cdc; color:#fff; border-radius:5px;}
.btn_box.demo-inline-spacing .btn.btn-secondary{margin-left:5px; background:#ff8a00; border:1px solid #ff8a00;}
.hidden{display:none;}
.test_insert .row{margin-top:30px; position:relative; display:flex; flex-direction:column; min-width:0; word-wrap:break-word; background-color:#fff; background-clip:border-box; border:0 solid #d9dee3; border-radius:0.5rem; padding:1.5rem 1.5rem}
.test_insert .btn_box{margin-top:20px; text-align:center;}
.test_insert .form-tit{margin-top:10px; margin-bottom:5px;}
.test_insert input{border-radius:0; height:50px; width:100%; border:1px solid #e1e1e1; font-size:14px; color:#b7b7b7; padding-left:20px; margin-bottom:20px;}
.test_insert textarea{width:100%; border:1px solid #e1e1e1; border-top:0; padding:.375rem .75rem; font-size:14px; color:#b7b7b7;}
.mT20{margin-top:20px;}
.taC{text-align:center;}
.btn-outline-warning:hover{color:#fff;}

/* 쪽지시험 */
.test_info .left .top span{margin-left:5px;}
.test_info .left .top > i{color:#ff8a00;}
.test_info .btn_cont{position:absolute; right:30px; top:50%; transform:translateY(-50%);}
.test_info .go_link{display:block; width:88px; float:none; position:relative; top:auto; left:auto; background:#ff8a00;}
.test_info .go_link.gray{background:#888;}
.test_info button + button{margin-top:10px;}
.test_btn [class^="go_"]{background:#ff8a00;}

/* 모달 */
.test_modal{display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.2); z-index:100;}
.test_modal .text{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:80%; height:80%; border-radius:10px; padding:25px; padding-bottom:80px; background:#fff; box-shadow:0 2px 20px 0 rgba(67, 89, 113, 0.45);}
.test_modal .text h3{font-size:25px; font-weight:700;}
.test_modal .text .btn_close{position:absolute; right:-15px; top:-15px; background:#205cdc; border-radius:0.5rem; opacity:1; padding:7px 8px; border:0; box-shadow:0 0.125rem 0.25rem rgba(161, 172, 184, 0.4); transition:all 0.23s ease 0.1s;}
.test_modal .text .btn_close i{color:#fff; font-size:30px;}
.test_modal.on{display:block;}
.test_modal .test_box{display:flex; flex-flow:wrap; height:92%; gap:4%; overflow-y:scroll; justify-content:space-between; margin-top:20px; border:1px solid #ddd; border-radius:10px; padding:30px;}
.test_modal .test_box div{position:relative; padding-bottom:50px; flex:1 1 48%;}
.test_modal .test_box div:nth-child(even):before{content:''; display:block; position:absolute; left:-28px; top:0; width:1px; height:100%; border-left:1px dashed #ddd;}
.test_modal .test_box p{color:#555; margin-bottom:10px; font-size:16px; font-weight:700; word-break:keep-all;}
.test_modal .test_box ul{list-style:none;}
.test_modal .test_box li{margin-top:5px;}
.test_modal .test_box li label{margin-bottom:0; font-size:15px; padding-left:5px; color:#777; font-weight:400;}
.test_modal .btn_box{margin-top:15px; text-align:center;}
.test_modal .btn_form{padding:12px 40px; font-size:16px; border:0; letter-spacing:-1px; background:#205cdc; color:#fff; border-radius:5px;}
.test_modal .video_text{height:74.5%; padding-bottom:50px;}
.test_modal .video_box{padding:0; overflow-y:auto;}

/* 채점결과 */
.result_info{margin-top:25px; padding:50px 30px; background:rgb(255 138 0 / 5%); border:1px dashed #ffd8a9; border-radius:15px;}
.result_info .bx_tit{color:#ff8a00;}
.result_info .tit i{font-size:30px; margin-top:-5px;}
.result_info .tit{margin-bottom:5px; color:#333; font-size:22px;}
.result_info p{margin-bottom:0; color:#555; font-size:17px; font-weight:600; text-align:center;}
.result_info p span,
.result_info p em{display:inlne-block; font-style:normal; color:#ff8a00; font-size:24px; font-weight:700;}
.result_info .btn_box{margin-top:30px;}
.result_info .btn_box .go_gray{background:#999;}

.result_list{display:flex; flex-flow:wrap; gap:4%; justify-content:space-between; margin-top:50px; border:1px solid #ddd; border-radius:10px; padding:30px;}
.result_list > div{position:relative; padding-bottom:50px; flex:1 1 48%;}
.result_list > div:nth-child(even):before{content:''; display:block; position:absolute; left:-22px; top:0; width:1px; height:100%; border-left:1px dashed #ddd;}
.result_list > div .tit{color:#555; margin-bottom:10px; font-size:16px; font-weight:700; word-break:keep-all;}
.result_list > div .tit span,
.result_list > div .tit i{position:relative; font-style:normal;}
.result_list > div .tit span:before{content:''; display:block; position:absolute; top:-4px; left:-29px; width:30px; height:35px; background-image:url(/img/member/test/no.png); background-repeat:no-repeat; background-size:cover;}
.result_list > div .tit.ok span:before{left:-35px; top:-4px; width:40px; height:40px; background-image:url(/img/member/test/ok.png);}
.result_list > div li span{display:block; float:left; color:#555; margin-right:5px;}
.result_list > div li p{float:left; width:calc(100% - 30px); word-break:keep-all; margin-bottom:0; font-size:15px; padding-left:5px; color:#777; font-weight:400;}
.result_list ul{list-style:none;}
.result_list li{margin-top:5px;}
.result_list li:after{content:''; display:block; clear:both;}
.result_list .res{margin-top:20px; background:#f9f9f9; padding:15px; border-radius:10px;}
.result_list .cty{margin-bottom:0;}
.result_list .cty *{display:block; font-style:normal;}
.result_list .cty span{color:#555; font-size:15px; letter-spacing:-1px; word-break:keep-all;}
.result_list i.txt{display:inline-block; font-style:normal; margin-bottom:5px; color:#205cdc; font-size:12px; line-height:1.3rem; padding:0 15px; border:1px solid #205cdc; text-align:center; border-radius:50px;}
.result_list .answer{padding-bottom:10px; border-bottom:1px dashed #ddd;}
.result_list .answer i.txt{color:#ff8a00; border:1px solid #ff8a00;}
.result_list .ans{margin-bottom:0;}
.result_list .answer span,
.result_list .ans span{margin-left:5px; color:#111; font-weight:600;}













/*게시판*/
.cnq_insertBtn{padding:12px 40px; font-size:16px; border:0; letter-spacing:-1px; background:#205cdc; color:#fff; border-radius:5px;}
.detailCntn{width: 99%;height: 340px; padding: 40px 20px 30px; border-radius: 15px; box-sizing: border-box; box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);};
.cnq_reset{float: right; padding: 12px 40px; font-size: 16px; border: 0; letter-spacing: -1px; background: #ff8a00; border-radius: 5px;};
