*{letter-spacing:-0.5px;}
.lecture_info{margin-top:20px;}
.section-title{margin-bottom:0; text-align:left; letter-spacing:-1px;}
.section-title span{font-size:15px;}
.info{width:100%; margin-top:20px; padding:20px; background:#f9f9f9; border-radius:15px; box-sizing:border-box;}
.info ul{float:left; width:calc(100% - 20%); list-style:none;}
.info li{float:left; width:29%; margin:0 2%;}
.info li p{color:#333;}
.info button{float:right;}
.info:after,
.info ul:after{content:''; display:block; clear:both;}
.lecture_info .text{color:#333; font-size:16px; margin-top:20px; word-break:keep-all;}
.lecture_list{margin-top:20px;}
.lecture_list:after{content:''; display:block; clear:both;}
.lecture_list .left{float:left; width:68%; height:380px; margin-right:3%; background:#ddd; border-radius:15px;}
.lecture_list .right{float:right; width:29%; height:380px; padding:30px 20px; border:1px solid #ddd; border-radius:15px; box-sizing:border-box; box-shadow:0 0 5px 1px rgba(0, 0, 0, 0.1);}
.lecture_list .right h3{font-size:16px; font-weight:700; letter-spacing:-1px; border-bottom:1px dashed #ddd; padding-bottom:20px; box-sizing:border-box;}
.lecture_list .right h3 i{display:inline-block; margin-right:5px; font-size:20px;}
.lecture_list .right p{background:#f9f9f9; box-sizing:border-box; padding:10px; border:1px solid #ddd; border-radius:8px; margin-top:15px;}
.lecture_list .right p span{display:block;}
.lecture_list .right p span i{color:#205cdc; font-weight:700; font-style:normal;}
.lecture_list .right p span .bx{font-weight:300; color:#555;}
.lecture_list .right .target{display:inline-block; margin-top:20px; padding:5px; border-radius:5px; color:#ff8a00; font-size:13px; font-weight:700; background:#ffecd5; border:1px solid #ff8a00;}
.lecture_list .right .txt{display:block; margin-top:10px; color:#555; font-size:15px; letter-spacing:-1px;}