body{background:#fff !important;}
*{font-family: "Noto Sans KR", sans-serif !important;}
#foot {
	color: #fff;
	text-align:center;
}
#count {
	color:#fff
}
.mySwiper{position:absolute !important; left:0; top:88px; height:600px !important;}
.swiper-slide{background:#eee !important;}
.swiper-button-next:after,
.swiper-button-prev:after{display:none;}
.swiper-button-next i,
.swiper-button-prev i{font-size:45px; color:#2455a4;}
.swiper-button-next i{transform:rotate(180deg);}
.swiper-button-prev{left:1% !important;}
.swiper-button-next{right:1% !important;}
.swiper-pagination span{width:10px; height:10px; border-radius:0;}
.swiper-pagination-bullet-active{background:#2455a4 !important;}
.categories{width:100%;}
.swiper-slide img{object-fit:fill !important;}

.pic01{width:440px; height:440px; background:#fff;}
.pic01 img{margin-left:79px;}
.pic02{width:470px; height:470px;}
.pic03{width:480px; height:440px;}
.pic03 img{margin-left:150px;}
.banner__item__pic{position:relative; overflow:hidden;}
/* .banner__item__pic:before{content:''; display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.2);}*/
.banner__item__pic img{height:100%;}

.blog__item{background:#fff;}
.blog03 .blog__item__pic{background-color:#153249;}
.blog04 .blog__item__pic{background-color:#ebebea; background-size:50%; background-position:50% 40%;}
.blog__item__pic{background:#333; background-repeat:no-repeat; background-position:50%; background-size:60%;}

.review_box{width:100%;}
.review{margin-top:40px; list-style:none; margin-bottom:60px;}
.review li{float:left; width:23.5%; margin:10px 1% 0;}
.review li:nth-child(4n+1){margin-left:0;}
.review li:nth-child(4n+4){margin-right:0;}
.review li > div{background:#fff; border:1px solid #ddd; border-radius:10px; height:280px; padding:30px; box-sizing:border-box; text-align:center;}
.review li div .img{position:relative; display:block; width:60px; height:60px; margin:0 auto; border-radius:50%; background:#e7efff;}
.review li div .img i{display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); font-size:32px;}
.review li div .id{margin-top:5px; margin-bottom:0; color:#888; font-size:14px; font-weight:700;}
.review li div .text{font-size:15px; font-weight:600; line-height:1.5rem; word-break:keep-all; letter-spacing:-1px;}
.review li div .txt{display:block; font-size:14px; font-weight:300; letter-spacing:0; color:#888;}
.review:after{content:''; display:block; clear:both;}
.review .star{margin-top:5px;}
.review .star span{display:inline-block;}
.review .star i{letter-spacing:-1px; color:#ffca35;}

.le_box .product__item{position:relative;}
.le_box .index{position:absolute; left:0; top:0; background:#f57b54; width:40px; height:40px; text-align:center; line-height:40px; z-index:1;}
.le_box .index span{color:#fff; margin-bottom:5px; font-size:14px; font-weight:700;}
.le_box .product__item__text{padding-top:20px;}
.le_box .product__item__text span{display:inline-block; padding:1px 10px; border-radius:50px; border:1px solid #ddd; text-align:center; font-size:14px; color:#999; font-weight:700;}
.le_box .product__item__text h6{margin-top:8px; font-size:17px; color:#333; font-weight:700;}
.le_box .product__item__text .txt{margin-top:5px;}
.le_box .product__item__text .txt p{display:inline-block; color:#777; font-size:15px; font-weight:500;}
.le_box .product__item__text .txt i{font-style:normal; margin-left:2px; display:inline-block; color:#999;}