body{background:#fff !important;}
*{font-family: "Noto Sans KR", sans-serif !important;}
#foot {
	color: #fff;
	text-align:center;
}
#count {
	color:#fff
}
.mySwiper{position:absolute !important; left:0; top:88px; height:500px !important;}
.swiper-slide{background:#eee !important;}
.swiper-button-next:after,
.swiper-button-prev:after{display:none;}
.swiper-button-next i,
.swiper-button-prev i{font-size:45px; color:#2455a4;}
.swiper-button-next i{transform:rotate(180deg);}
.swiper-button-prev{left:1% !important;}
.swiper-button-next{right:1% !important;}
.swiper-pagination span{width:10px; height:10px; border-radius:0;}
.swiper-pagination-bullet-active{background:#2455a4 !important;}
