*{font-family: "Noto Sans KR", sans-serif !important;}
#foot {
	color: #fff;
	text-align:center;
}
#count {
	color:#fff
}
.mySwiper{position:absolute !important; left:0; top:88px; height:500px !important;}
.swiper-button-next:after,
.swiper-button-prev:after{display:none;}
.swiper-button-next i,
.swiper-button-prev i{font-size:45px; color:#2455a4;}
.swiper-button-next i{transform:rotate(180deg);}
